<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.basicinfo.BoarMapper">

	<resultMap id="BoarResult"  type="BoarModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="materialId" column="MATERIAL_ID" jdbcType="INTEGER" />
		<result property="breedId" column="BREED_ID" jdbcType="INTEGER" />
		<result property="strain" column="STRAIN" jdbcType="VARCHAR" />
		<result property="bodyCondition" column="BODY_CONDITION" jdbcType="VARCHAR" />
		<result property="color" column="COLOR" jdbcType="VARCHAR" />
		<result property="rightTeatNum" column="RIGHT_TEAT_NUM" jdbcType="INTEGER" />
		<result property="leftTeatNum" column="LEFT_TEAT_NUM" jdbcType="INTEGER" />
		<result property="useYear" column="USE_YEAR" jdbcType="INTEGER" />
		<result property="birthWeight" column="BIRTH_WEIGHT" jdbcType="DECIMAL" />
		<result property="enterDayAge" column="ENTER_DAY_AGE" jdbcType="INTEGER" />
		<result property="enterWeight" column="ENTER_WEIGHT" jdbcType="DECIMAL" />
		<result property="sexRatio" column="SEX_RATIO" jdbcType="VARCHAR" />
		<result property="teachDayAge" column="TEACH_DAY_AGE" jdbcType="INTEGER" />
		<result property="errorLimit" column="ERROR_LIMIT" jdbcType="INTEGER" />
		<result property="productionDayAge" column="PRODUCTION_DAY_AGE" jdbcType="INTEGER" />
		<result property="dayAgeSection" column="DAY_AGE_SECTION" jdbcType="INTEGER" />
		<result property="eliminateDayAge" column="ELIMINATE_DAY_AGE" jdbcType="INTEGER" />
		<result property="collectionNum" column="COLLECTION_NUM" jdbcType="INTEGER" />
		<result property="spermQty" column="SPERM_QTY" jdbcType="DECIMAL" />
		<result property="litterNum" column="LITTER_NUM" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="BoarModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,COMPANY_ID,FARM_ID,MATERIAL_ID,BREED_ID,STRAIN,BODY_CONDITION,COLOR,RIGHT_TEAT_NUM,LEFT_TEAT_NUM,USE_YEAR,BIRTH_WEIGHT,ENTER_DAY_AGE,ENTER_WEIGHT,SEX_RATIO,TEACH_DAY_AGE,ERROR_LIMIT,PRODUCTION_DAY_AGE,DAY_AGE_SECTION,ELIMINATE_DAY_AGE,COLLECTION_NUM,SPERM_QTY,LITTER_NUM
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="BoarModel">
		INSERT INTO CD_O_BOAR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			COMPANY_ID,
			FARM_ID,
			MATERIAL_ID,
			BREED_ID,
			STRAIN,
			BODY_CONDITION,
			COLOR,
			RIGHT_TEAT_NUM,
			LEFT_TEAT_NUM,
			USE_YEAR,
			BIRTH_WEIGHT,
			ENTER_DAY_AGE,
			ENTER_WEIGHT,
			SEX_RATIO,
			TEACH_DAY_AGE,
			ERROR_LIMIT,
			PRODUCTION_DAY_AGE,
			DAY_AGE_SECTION,
			ELIMINATE_DAY_AGE,
			COLLECTION_NUM,
			SPERM_QTY,
			LITTER_NUM
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ companyId,jdbcType=INTEGER},
			#{ farmId,jdbcType=INTEGER},
			#{ materialId,jdbcType=INTEGER},
			#{ breedId,jdbcType=INTEGER},
			#{ strain,jdbcType=VARCHAR},
			#{ bodyCondition,jdbcType=VARCHAR},
			#{ color,jdbcType=VARCHAR},
			#{ rightTeatNum,jdbcType=INTEGER},
			#{ leftTeatNum,jdbcType=INTEGER},
			#{ useYear,jdbcType=INTEGER},
			#{ birthWeight,jdbcType=DECIMAL},
			#{ enterDayAge,jdbcType=INTEGER},
			#{ enterWeight,jdbcType=DECIMAL},
			#{ sexRatio,jdbcType=VARCHAR},
			#{ teachDayAge,jdbcType=INTEGER},
			#{ errorLimit,jdbcType=INTEGER},
			#{ productionDayAge,jdbcType=INTEGER},
			#{ dayAgeSection,jdbcType=INTEGER},
			#{ eliminateDayAge,jdbcType=INTEGER},
			#{ collectionNum,jdbcType=INTEGER},
			#{ spermQty,jdbcType=DECIMAL},
			#{ litterNum,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_O_BOAR
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			COMPANY_ID ,
			FARM_ID ,
			MATERIAL_ID ,
			BREED_ID ,
			STRAIN ,
			BODY_CONDITION ,
			COLOR ,
			RIGHT_TEAT_NUM ,
			LEFT_TEAT_NUM ,
			USE_YEAR ,
			BIRTH_WEIGHT ,
			ENTER_DAY_AGE ,
			ENTER_WEIGHT ,
			SEX_RATIO ,
			TEACH_DAY_AGE ,
			ERROR_LIMIT ,
			PRODUCTION_DAY_AGE ,
			DAY_AGE_SECTION ,
			ELIMINATE_DAY_AGE ,
			COLLECTION_NUM ,
			SPERM_QTY ,
			LITTER_NUM 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.companyId,jdbcType=INTEGER},
				#{item.farmId,jdbcType=INTEGER},
				#{item.materialId,jdbcType=INTEGER},
				#{item.breedId,jdbcType=INTEGER},
				#{item.strain,jdbcType=VARCHAR},
				#{item.bodyCondition,jdbcType=VARCHAR},
				#{item.color,jdbcType=VARCHAR},
				#{item.rightTeatNum,jdbcType=INTEGER},
				#{item.leftTeatNum,jdbcType=INTEGER},
				#{item.useYear,jdbcType=INTEGER},
				#{item.birthWeight,jdbcType=DECIMAL},
				#{item.enterDayAge,jdbcType=INTEGER},
				#{item.enterWeight,jdbcType=DECIMAL},
				#{item.sexRatio,jdbcType=VARCHAR},
				#{item.teachDayAge,jdbcType=INTEGER},
				#{item.errorLimit,jdbcType=INTEGER},
				#{item.productionDayAge,jdbcType=INTEGER},
				#{item.dayAgeSection,jdbcType=INTEGER},
				#{item.eliminateDayAge,jdbcType=INTEGER},
				#{item.collectionNum,jdbcType=INTEGER},
				#{item.spermQty,jdbcType=DECIMAL},
				#{item.litterNum,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="BoarModel" >
		UPDATE CD_O_BOAR 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="materialId != null">MATERIAL_ID = #{ materialId,jdbcType=INTEGER},</if>
		<if test="breedId != null">BREED_ID = #{ breedId,jdbcType=INTEGER},</if>
		<if test="strain != null">STRAIN = #{ strain,jdbcType=VARCHAR},</if>
		<if test="bodyCondition != null">BODY_CONDITION = #{ bodyCondition,jdbcType=VARCHAR},</if>
		<if test="color != null">COLOR = #{ color,jdbcType=VARCHAR},</if>
		<if test="rightTeatNum != null">RIGHT_TEAT_NUM = #{ rightTeatNum,jdbcType=INTEGER},</if>
		<if test="leftTeatNum != null">LEFT_TEAT_NUM = #{ leftTeatNum,jdbcType=INTEGER},</if>
		<if test="useYear != null">USE_YEAR = #{ useYear,jdbcType=INTEGER},</if>
		<if test="birthWeight != null">BIRTH_WEIGHT = #{ birthWeight,jdbcType=DECIMAL},</if>
		<if test="enterDayAge != null">ENTER_DAY_AGE = #{ enterDayAge,jdbcType=INTEGER},</if>
		<if test="enterWeight != null">ENTER_WEIGHT = #{ enterWeight,jdbcType=DECIMAL},</if>
		<if test="sexRatio != null">SEX_RATIO = #{ sexRatio,jdbcType=VARCHAR},</if>
		<if test="teachDayAge != null">TEACH_DAY_AGE = #{ teachDayAge,jdbcType=INTEGER},</if>
		<if test="errorLimit != null">ERROR_LIMIT = #{ errorLimit,jdbcType=INTEGER},</if>
		<if test="productionDayAge != null">PRODUCTION_DAY_AGE = #{ productionDayAge,jdbcType=INTEGER},</if>
		<if test="dayAgeSection != null">DAY_AGE_SECTION = #{ dayAgeSection,jdbcType=INTEGER},</if>
		<if test="eliminateDayAge != null">ELIMINATE_DAY_AGE = #{ eliminateDayAge,jdbcType=INTEGER},</if>
		<if test="collectionNum != null">COLLECTION_NUM = #{ collectionNum,jdbcType=INTEGER},</if>
		<if test="spermQty != null">SPERM_QTY = #{ spermQty,jdbcType=DECIMAL},</if>
		<if test="litterNum != null">LITTER_NUM = #{ litterNum,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_O_BOAR 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.materialId != null">MATERIAL_ID = #{item.materialId,jdbcType=INTEGER},</if>
			<if test="item.breedId != null">BREED_ID = #{item.breedId,jdbcType=INTEGER},</if>
			<if test="item.strain != null">STRAIN = #{item.strain,jdbcType=VARCHAR},</if>
			<if test="item.bodyCondition != null">BODY_CONDITION = #{item.bodyCondition,jdbcType=VARCHAR},</if>
			<if test="item.color != null">COLOR = #{item.color,jdbcType=VARCHAR},</if>
			<if test="item.rightTeatNum != null">RIGHT_TEAT_NUM = #{item.rightTeatNum,jdbcType=INTEGER},</if>
			<if test="item.leftTeatNum != null">LEFT_TEAT_NUM = #{item.leftTeatNum,jdbcType=INTEGER},</if>
			<if test="item.useYear != null">USE_YEAR = #{item.useYear,jdbcType=INTEGER},</if>
			<if test="item.birthWeight != null">BIRTH_WEIGHT = #{item.birthWeight,jdbcType=DECIMAL},</if>
			<if test="item.enterDayAge != null">ENTER_DAY_AGE = #{item.enterDayAge,jdbcType=INTEGER},</if>
			<if test="item.enterWeight != null">ENTER_WEIGHT = #{item.enterWeight,jdbcType=DECIMAL},</if>
			<if test="item.sexRatio != null">SEX_RATIO = #{item.sexRatio,jdbcType=VARCHAR},</if>
			<if test="item.teachDayAge != null">TEACH_DAY_AGE = #{item.teachDayAge,jdbcType=INTEGER},</if>
			<if test="item.errorLimit != null">ERROR_LIMIT = #{item.errorLimit,jdbcType=INTEGER},</if>
			<if test="item.productionDayAge != null">PRODUCTION_DAY_AGE = #{item.productionDayAge,jdbcType=INTEGER},</if>
			<if test="item.dayAgeSection != null">DAY_AGE_SECTION = #{item.dayAgeSection,jdbcType=INTEGER},</if>
			<if test="item.eliminateDayAge != null">ELIMINATE_DAY_AGE = #{item.eliminateDayAge,jdbcType=INTEGER},</if>
			<if test="item.collectionNum != null">COLLECTION_NUM = #{item.collectionNum,jdbcType=INTEGER},</if>
			<if test="item.spermQty != null">SPERM_QTY = #{item.spermQty,jdbcType=DECIMAL},</if>
			<if test="item.litterNum != null">LITTER_NUM = #{item.litterNum,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_O_BOAR
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_O_BOAR
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_O_BOAR
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="BoarResult">
		SELECT *
		FROM CD_O_BOAR WHERE DELETED_FLAG='0' AND STATUS = '1' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="BoarResult" >
		SELECT *
		FROM CD_O_BOAR WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="BoarResult" >
		SELECT *
		FROM CD_O_BOAR
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="BoarResult" >
		SELECT *
		FROM CD_O_BOAR
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="BoarResult"> ${sql} </select>

</mapper>

