<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.basicinfo.HrLpapersMapper">

	<resultMap id="HrLpapersResult"  type="HrLpapersModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="cussupId" column="CUSSUP_ID" jdbcType="INTEGER" />
		<result property="srmId" column="SRM_ID" jdbcType="INTEGER" />
		<result property="paperType" column="PAPER_TYPE" jdbcType="VARCHAR" />
		<result property="paperCode" column="PAPER_CODE" jdbcType="VARCHAR" />
		<result property="expiryType" column="EXPIRY_TYPE" jdbcType="CHAR" />
		<result property="expiryDate" column="EXPIRY_DATE" jdbcType="DATE" />
		<result property="version" column="VERSION" jdbcType="INTEGER" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="HrLpapersModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,CUSSUP_ID,SRM_ID,PAPER_TYPE,PAPER_CODE,EXPIRY_TYPE,EXPIRY_DATE,VERSION,LINE_NUMBER
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="HrLpapersModel">
		INSERT INTO HR_L_PAPERS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			CUSSUP_ID,
			SRM_ID,
			PAPER_TYPE,
			PAPER_CODE,
			EXPIRY_TYPE,
			EXPIRY_DATE,
			VERSION,
			LINE_NUMBER
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ cussupId,jdbcType=INTEGER},
			#{ srmId,jdbcType=INTEGER},
			#{ paperType,jdbcType=VARCHAR},
			#{ paperCode,jdbcType=VARCHAR},
			#{ expiryType,jdbcType=CHAR},
			#{ expiryDate,jdbcType=DATE},
			#{ version,jdbcType=INTEGER},
			#{ lineNumber,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO HR_L_PAPERS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			CUSSUP_ID ,
			SRM_ID ,
			PAPER_TYPE ,
			PAPER_CODE ,
			EXPIRY_TYPE ,
			EXPIRY_DATE ,
			VERSION ,
			LINE_NUMBER 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.cussupId,jdbcType=INTEGER},
				#{item.srmId,jdbcType=INTEGER},
				#{item.paperType,jdbcType=VARCHAR},
				#{item.paperCode,jdbcType=VARCHAR},
				#{item.expiryType,jdbcType=CHAR},
				#{item.expiryDate,jdbcType=DATE},
				#{item.version,jdbcType=INTEGER},
				#{item.lineNumber,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="HrLpapersModel" >
		UPDATE HR_L_PAPERS 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="cussupId != null">CUSSUP_ID = #{ cussupId,jdbcType=INTEGER},</if>
		<if test="srmId != null">SRM_ID = #{ srmId,jdbcType=INTEGER},</if>
		<if test="paperType != null">PAPER_TYPE = #{ paperType,jdbcType=VARCHAR},</if>
		<if test="paperCode != null">PAPER_CODE = #{ paperCode,jdbcType=VARCHAR},</if>
		<if test="expiryType != null">EXPIRY_TYPE = #{ expiryType,jdbcType=CHAR},</if>
		<if test="expiryDate != null">EXPIRY_DATE = #{ expiryDate,jdbcType=DATE},</if>
		<if test="version != null">VERSION = #{ version,jdbcType=INTEGER},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE HR_L_PAPERS 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.cussupId != null">CUSSUP_ID = #{item.cussupId,jdbcType=INTEGER},</if>
			<if test="item.srmId != null">SRM_ID = #{item.srmId,jdbcType=INTEGER},</if>
			<if test="item.paperType != null">PAPER_TYPE = #{item.paperType,jdbcType=VARCHAR},</if>
			<if test="item.paperCode != null">PAPER_CODE = #{item.paperCode,jdbcType=VARCHAR},</if>
			<if test="item.expiryType != null">EXPIRY_TYPE = #{item.expiryType,jdbcType=CHAR},</if>
			<if test="item.expiryDate != null">EXPIRY_DATE = #{item.expiryDate,jdbcType=DATE},</if>
			<if test="item.version != null">VERSION = #{item.version,jdbcType=INTEGER},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  HR_L_PAPERS
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  HR_L_PAPERS
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  HR_L_PAPERS
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  HR_L_PAPERS
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="HrLpapersResult">
		SELECT 
		<include refid="HrLpapersModel_Column_List" />
		FROM HR_L_PAPERS WHERE DELETED_FLAG='0' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="HrLpapersResult" >
		SELECT 
		<include refid="HrLpapersModel_Column_List" />
		FROM HR_L_PAPERS WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="HrLpapersResult" >
		SELECT 
		<include refid="HrLpapersModel_Column_List" />
		FROM HR_L_PAPERS
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="HrLpapersResult" >
		SELECT 
		<include refid="HrLpapersModel_Column_List" />
		FROM HR_L_PAPERS
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="HrLpapersResult" >
		SELECT *
		FROM HR_L_PAPERS
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="HrLpapersResult"> ${sql} </select>

</mapper>

