<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.basicinfo.PigpenMapper">

	<resultMap id="PigpenResult"  type="PigpenModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="lineId" column="LINE_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="businessCode" column="BUSINESS_CODE" jdbcType="VARCHAR" />
		<result property="pigpenName" column="PIGPEN_NAME" jdbcType="VARCHAR" />
		<result property="length" column="LENGTH" jdbcType="DECIMAL" />
		<result property="width" column="WIDTH" jdbcType="DECIMAL" />
		<result property="pigNum" column="PIG_NUM" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="PigpenModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,COMPANY_ID,FARM_ID,LINE_ID,HOUSE_ID,BUSINESS_CODE,PIGPEN_NAME,LENGTH,WIDTH,PIG_NUM
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="PigpenModel">
		INSERT INTO PP_O_PIGPEN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			COMPANY_ID,
			FARM_ID,
			LINE_ID,
			HOUSE_ID,
			BUSINESS_CODE,
			PIGPEN_NAME,
			LENGTH,
			WIDTH,
			PIG_NUM
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ companyId,jdbcType=INTEGER},
			#{ farmId,jdbcType=INTEGER},
			#{ lineId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ businessCode,jdbcType=VARCHAR},
			#{ pigpenName,jdbcType=VARCHAR},
			#{ length,jdbcType=DECIMAL},
			#{ width,jdbcType=DECIMAL},
			#{ pigNum,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_O_PIGPEN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			COMPANY_ID ,
			FARM_ID ,
			LINE_ID ,
			HOUSE_ID ,
			BUSINESS_CODE ,
			PIGPEN_NAME ,
			LENGTH ,
			WIDTH ,
			PIG_NUM 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.companyId,jdbcType=INTEGER},
				#{item.farmId,jdbcType=INTEGER},
				#{item.lineId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.businessCode,jdbcType=VARCHAR},
				#{item.pigpenName,jdbcType=VARCHAR},
				#{item.length,jdbcType=DECIMAL},
				#{item.width,jdbcType=DECIMAL},
				#{item.pigNum,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="PigpenModel" >
		UPDATE PP_O_PIGPEN 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="lineId != null">LINE_ID = #{ lineId,jdbcType=INTEGER},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="businessCode != null">BUSINESS_CODE = #{ businessCode,jdbcType=VARCHAR},</if>
		<if test="pigpenName != null">PIGPEN_NAME = #{ pigpenName,jdbcType=VARCHAR},</if>
		<if test="length != null">LENGTH = #{ length,jdbcType=DECIMAL},</if>
		<if test="width != null">WIDTH = #{ width,jdbcType=DECIMAL},</if>
		<if test="pigNum != null">PIG_NUM = #{ pigNum,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_O_PIGPEN 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.lineId != null">LINE_ID = #{item.lineId,jdbcType=INTEGER},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.businessCode != null">BUSINESS_CODE = #{item.businessCode,jdbcType=VARCHAR},</if>
			<if test="item.pigpenName != null">PIGPEN_NAME = #{item.pigpenName,jdbcType=VARCHAR},</if>
			<if test="item.length != null">LENGTH = #{item.length,jdbcType=DECIMAL},</if>
			<if test="item.width != null">WIDTH = #{item.width,jdbcType=DECIMAL},</if>
			<if test="item.pigNum != null">PIG_NUM = #{item.pigNum,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_O_PIGPEN
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_O_PIGPEN
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_O_PIGPEN
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="PigpenResult">
		SELECT *
		FROM PP_O_PIGPEN WHERE DELETED_FLAG='0' AND STATUS = '1' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="PigpenResult" >
		SELECT *
		FROM PP_O_PIGPEN WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="PigpenResult" >
		SELECT *
		FROM PP_O_PIGPEN
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="PigpenResult" >
		SELECT *
		FROM PP_O_PIGPEN
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="PigpenResult"> ${sql} </select>

</mapper>

