<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.backend.BreedRelaMapper">

	<resultMap id="BreedRelaResult"  type="BreedRelaModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="breedId" column="BREED_ID" jdbcType="INTEGER" />
		<result property="boarId" column="BOAR_ID" jdbcType="INTEGER" />
		<result property="sowId" column="SOW_ID" jdbcType="INTEGER" />
		<result property="stockBoarId" column="STOCK_BOAR_ID" jdbcType="INTEGER" />
		<result property="broodSowId" column="BROOD_SOW_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="BreedRelaModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,BREED_ID,BOAR_ID,SOW_ID,STOCK_BOAR_ID,BROOD_SOW_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="BreedRelaModel">
		INSERT INTO CD_L_BREED_RELA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			BREED_ID,
			BOAR_ID,
			SOW_ID,
			STOCK_BOAR_ID,
			BROOD_SOW_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ breedId,jdbcType=INTEGER},
			#{ boarId,jdbcType=INTEGER},
			#{ sowId,jdbcType=INTEGER},
			#{ stockBoarId,jdbcType=INTEGER},
			#{ broodSowId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_L_BREED_RELA
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			BREED_ID ,
			BOAR_ID ,
			SOW_ID ,
			STOCK_BOAR_ID ,
			BROOD_SOW_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.breedId,jdbcType=INTEGER},
				#{item.boarId,jdbcType=INTEGER},
				#{item.sowId,jdbcType=INTEGER},
				#{item.stockBoarId,jdbcType=INTEGER},
				#{item.broodSowId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="BreedRelaModel" >
		UPDATE CD_L_BREED_RELA 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="breedId != null">BREED_ID = #{ breedId,jdbcType=INTEGER},</if>
		<if test="boarId != null">BOAR_ID = #{ boarId,jdbcType=INTEGER},</if>
		<if test="sowId != null">SOW_ID = #{ sowId,jdbcType=INTEGER},</if>
		<if test="stockBoarId != null">STOCK_BOAR_ID = #{ stockBoarId,jdbcType=INTEGER},</if>
		<if test="broodSowId != null">BROOD_SOW_ID = #{ broodSowId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_L_BREED_RELA 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.breedId != null">BREED_ID = #{item.breedId,jdbcType=INTEGER},</if>
			<if test="item.boarId != null">BOAR_ID = #{item.boarId,jdbcType=INTEGER},</if>
			<if test="item.sowId != null">SOW_ID = #{item.sowId,jdbcType=INTEGER},</if>
			<if test="item.stockBoarId != null">STOCK_BOAR_ID = #{item.stockBoarId,jdbcType=INTEGER},</if>
			<if test="item.broodSowId != null">BROOD_SOW_ID = #{item.broodSowId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_L_BREED_RELA
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_L_BREED_RELA
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_L_BREED_RELA
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="BreedRelaResult">
		SELECT *
		FROM CD_L_BREED_RELA WHERE DELETED_FLAG='0' AND STATUS = '1' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="BreedRelaResult" >
		SELECT *
		FROM CD_L_BREED_RELA WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="BreedRelaResult" >
		SELECT *
		FROM CD_L_BREED_RELA
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="BreedRelaResult" >
		SELECT *
		FROM CD_L_BREED_RELA
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="BreedRelaResult"> ${sql} </select>

</mapper>

