<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.backend.PartsMapper">

	<resultMap id="PartsResult"  type="PartsModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="partsCode" column="PARTS_CODE" jdbcType="VARCHAR" />
		<result property="partsName" column="PARTS_NAME" jdbcType="VARCHAR" />
		<result property="moduleId" column="MODULE_ID" jdbcType="INTEGER" />
		<result property="iconCls" column="ICON_CLS" jdbcType="VARCHAR" />
		<result property="glyph" column="GLYPH" jdbcType="VARCHAR" />
		<result property="usingFlag" column="USING_FLAG" jdbcType="CHAR" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="PartsModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,PARTS_CODE,PARTS_NAME,MODULE_ID,ICON_CLS,GLYPH,USING_FLAG
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="PartsModel">
		INSERT INTO CD_O_PARTS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			PARTS_CODE,
			PARTS_NAME,
			MODULE_ID,
			ICON_CLS,
			GLYPH,
			USING_FLAG
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ partsCode,jdbcType=VARCHAR},
			#{ partsName,jdbcType=VARCHAR},
			#{ moduleId,jdbcType=INTEGER},
			#{ iconCls,jdbcType=VARCHAR},
			#{ glyph,jdbcType=VARCHAR},
			#{ usingFlag,jdbcType=CHAR}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO CD_O_PARTS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			PARTS_CODE ,
			PARTS_NAME ,
			MODULE_ID ,
			ICON_CLS ,
			GLYPH ,
			USING_FLAG 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.partsCode,jdbcType=VARCHAR},
				#{item.partsName,jdbcType=VARCHAR},
				#{item.moduleId,jdbcType=INTEGER},
				#{item.iconCls,jdbcType=VARCHAR},
				#{item.glyph,jdbcType=VARCHAR},
				#{item.usingFlag,jdbcType=CHAR}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="PartsModel" >
		UPDATE CD_O_PARTS 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="partsCode != null">PARTS_CODE = #{ partsCode,jdbcType=VARCHAR},</if>
		<if test="partsName != null">PARTS_NAME = #{ partsName,jdbcType=VARCHAR},</if>
		<if test="moduleId != null">MODULE_ID = #{ moduleId,jdbcType=INTEGER},</if>
		<if test="iconCls != null">ICON_CLS = #{ iconCls,jdbcType=VARCHAR},</if>
		<if test="glyph != null">GLYPH = #{ glyph,jdbcType=VARCHAR},</if>
		<if test="usingFlag != null">USING_FLAG = #{ usingFlag,jdbcType=CHAR}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE CD_O_PARTS 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.partsCode != null">PARTS_CODE = #{item.partsCode,jdbcType=VARCHAR},</if>
			<if test="item.partsName != null">PARTS_NAME = #{item.partsName,jdbcType=VARCHAR},</if>
			<if test="item.moduleId != null">MODULE_ID = #{item.moduleId,jdbcType=INTEGER},</if>
			<if test="item.iconCls != null">ICON_CLS = #{item.iconCls,jdbcType=VARCHAR},</if>
			<if test="item.glyph != null">GLYPH = #{item.glyph,jdbcType=VARCHAR},</if>
			<if test="item.usingFlag != null">USING_FLAG = #{item.usingFlag,jdbcType=CHAR}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  CD_O_PARTS
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  CD_O_PARTS
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  CD_O_PARTS
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="PartsResult">
		SELECT *
		FROM CD_O_PARTS WHERE DELETED_FLAG='0' AND STATUS = '1' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="PartsResult" >
		SELECT *
		FROM CD_O_PARTS WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="PartsResult" >
		SELECT *
		FROM CD_O_PARTS
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="PartsResult" >
		SELECT *
		FROM CD_O_PARTS
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="PartsResult"> ${sql} </select>

</mapper>

