<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.backend.SysUpdateLogMapper">

	<resultMap id="SysUpdateLogResult"  type="SysUpdateLogModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
		<result property="updateLog" column="UPDATE_LOG" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="VARCHAR" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDatetime" column="CREATE_DATETIME" jdbcType="TIMESTAMP" />
		<result property="updateType" column="UPDATE_TYPE" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="SysUpdateLogModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,UPDATE_TIME,UPDATE_LOG,VERSION,CREATE_ID,CREATE_DATETIME,UPDATE_TYPE
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="SysUpdateLogModel">
		INSERT INTO SYS_UPDATE_LOG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			UPDATE_TIME,
			UPDATE_LOG,
			VERSION,
			CREATE_ID,
			CREATE_DATETIME,
			UPDATE_TYPE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ updateTime,jdbcType=TIMESTAMP},
			#{ updateLog,jdbcType=VARCHAR},
			#{ version,jdbcType=VARCHAR},
			#{ createId,jdbcType=INTEGER},
			#{ createDatetime,jdbcType=TIMESTAMP},
			#{ updateType,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO SYS_UPDATE_LOG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			UPDATE_TIME ,
			UPDATE_LOG ,
			VERSION ,
			CREATE_ID ,
			CREATE_DATETIME ,
			UPDATE_TYPE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.updateTime,jdbcType=TIMESTAMP},
				#{item.updateLog,jdbcType=VARCHAR},
				#{item.version,jdbcType=VARCHAR},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDatetime,jdbcType=TIMESTAMP},
				#{item.updateType,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="SysUpdateLogModel" >
		UPDATE SYS_UPDATE_LOG 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="updateTime != null">UPDATE_TIME = #{ updateTime,jdbcType=TIMESTAMP},</if>
		<if test="updateLog != null">UPDATE_LOG = #{ updateLog,jdbcType=VARCHAR},</if>
		<if test="version != null">VERSION = #{ version,jdbcType=VARCHAR},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDatetime != null">CREATE_DATETIME = #{ createDatetime,jdbcType=TIMESTAMP},</if>
		<if test="updateType != null">UPDATE_TYPE = #{ updateType,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE SYS_UPDATE_LOG 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.updateTime != null">UPDATE_TIME = #{item.updateTime,jdbcType=TIMESTAMP},</if>
			<if test="item.updateLog != null">UPDATE_LOG = #{item.updateLog,jdbcType=VARCHAR},</if>
			<if test="item.version != null">VERSION = #{item.version,jdbcType=VARCHAR},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDatetime != null">CREATE_DATETIME = #{item.createDatetime,jdbcType=TIMESTAMP},</if>
			<if test="item.updateType != null">UPDATE_TYPE = #{item.updateType,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  SYS_UPDATE_LOG
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SYS_UPDATE_LOG
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SYS_UPDATE_LOG
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SYS_UPDATE_LOG
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="SysUpdateLogResult">
		SELECT 
		<include refid="SysUpdateLogModel_Column_List" />
		FROM SYS_UPDATE_LOG WHERE DELETED_FLAG='0' 
		
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="SysUpdateLogResult" >
		SELECT 
		<include refid="SysUpdateLogModel_Column_List" />
		FROM SYS_UPDATE_LOG WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="SysUpdateLogResult" >
		SELECT 
		<include refid="SysUpdateLogModel_Column_List" />
		FROM SYS_UPDATE_LOG
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="SysUpdateLogResult" >
		SELECT 
		<include refid="SysUpdateLogModel_Column_List" />
		FROM SYS_UPDATE_LOG
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="SysUpdateLogResult" >
		SELECT *
		FROM SYS_UPDATE_LOG
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="SysUpdateLogResult"> ${sql} </select>

</mapper>

