<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.supplychian.DailyRecordMapper">

	<resultMap id="DailyRecordResult"  type="DailyRecordModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="materialId" column="MATERIAL_ID" jdbcType="INTEGER" />
		<result property="quantity" column="QUANTITY" jdbcType="DECIMAL" />
		<result property="planDate" column="PLAN_DATE" jdbcType="DATE" />
		<result property="requireId" column="REQUIRE_ID" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="DailyRecordModel_Column_List">
		ROW_ID,STATUS,NOTES,MATERIAL_ID,QUANTITY,PLAN_DATE,REQUIRE_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="DailyRecordModel">
		INSERT INTO SC_M_DAILY_RECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			STATUS,
			DELETED_FLAG,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			MATERIAL_ID,
			QUANTITY,
			PLAN_DATE,
			REQUIRE_ID,
			CREATE_ID,
			CREATE_DATE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ materialId,jdbcType=INTEGER},
			#{ quantity,jdbcType=DECIMAL},
			#{ planDate,jdbcType=DATE},
			#{ requireId,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO SC_M_DAILY_RECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			STATUS ,
			DELETED_FLAG ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			MATERIAL_ID ,
			QUANTITY ,
			PLAN_DATE ,
			REQUIRE_ID ,
			CREATE_ID ,
			CREATE_DATE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.materialId,jdbcType=INTEGER},
				#{item.quantity,jdbcType=DECIMAL},
				#{item.planDate,jdbcType=DATE},
				#{item.requireId,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="DailyRecordModel" >
		UPDATE SC_M_DAILY_RECORD 
		<set>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="materialId != null">MATERIAL_ID = #{ materialId,jdbcType=INTEGER},</if>
		<if test="quantity != null">QUANTITY = #{ quantity,jdbcType=DECIMAL},</if>
		<if test="planDate != null">PLAN_DATE = #{ planDate,jdbcType=DATE},</if>
		<if test="requireId != null">REQUIRE_ID = #{ requireId,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE SC_M_DAILY_RECORD 
			<set>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.materialId != null">MATERIAL_ID = #{item.materialId,jdbcType=INTEGER},</if>
			<if test="item.quantity != null">QUANTITY = #{item.quantity,jdbcType=DECIMAL},</if>
			<if test="item.planDate != null">PLAN_DATE = #{item.planDate,jdbcType=DATE},</if>
			<if test="item.requireId != null">REQUIRE_ID = #{item.requireId,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  SC_M_DAILY_RECORD
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SC_M_DAILY_RECORD
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SC_M_DAILY_RECORD
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SC_M_DAILY_RECORD
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="DailyRecordResult">
		SELECT 
		<include refid="DailyRecordModel_Column_List" />
		FROM SC_M_DAILY_RECORD WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="DailyRecordResult" >
		SELECT 
		<include refid="DailyRecordModel_Column_List" />
		FROM SC_M_DAILY_RECORD WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="DailyRecordResult" >
		SELECT 
		<include refid="DailyRecordModel_Column_List" />
		FROM SC_M_DAILY_RECORD
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="DailyRecordResult" >
		SELECT 
		<include refid="DailyRecordModel_Column_List" />
		FROM SC_M_DAILY_RECORD
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="DailyRecordResult" >
		SELECT *
		FROM SC_M_DAILY_RECORD
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="DailyRecordResult"> ${sql} </select>

</mapper>

