<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.supplychian.WarehouseMapper">

	<resultMap id="WarehouseResult"  type="WarehouseModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="warehouseName" column="WAREHOUSE_NAME" jdbcType="VARCHAR" />
		<result property="warehouseType" column="WAREHOUSE_TYPE" jdbcType="CHAR" />
		<result property="warehouseAddress" column="WAREHOUSE_ADDRESS" jdbcType="VARCHAR" />
		<result property="warehouseCategory" column="WAREHOUSE_CATEGORY" jdbcType="CHAR" />
		<result property="operationRole" column="OPERATION_ROLE" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="WarehouseModel_Column_List">
		ROW_ID,STATUS,SORT_NBR,NOTES,WAREHOUSE_NAME,WAREHOUSE_TYPE,WAREHOUSE_ADDRESS,WAREHOUSE_CATEGORY,OPERATION_ROLE,CREATE_ID,CREATE_DATE
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="WarehouseModel">
		INSERT INTO SC_M_WAREHOUSE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			WAREHOUSE_NAME,
			WAREHOUSE_TYPE,
			WAREHOUSE_ADDRESS,
			WAREHOUSE_CATEGORY,
			OPERATION_ROLE,
			CREATE_ID,
			CREATE_DATE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ warehouseName,jdbcType=VARCHAR},
			#{ warehouseType,jdbcType=CHAR},
			#{ warehouseAddress,jdbcType=VARCHAR},
			#{ warehouseCategory,jdbcType=CHAR},
			#{ operationRole,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO SC_M_WAREHOUSE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			WAREHOUSE_NAME ,
			WAREHOUSE_TYPE ,
			WAREHOUSE_ADDRESS ,
			WAREHOUSE_CATEGORY ,
			OPERATION_ROLE ,
			CREATE_ID ,
			CREATE_DATE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.warehouseName,jdbcType=VARCHAR},
				#{item.warehouseType,jdbcType=CHAR},
				#{item.warehouseAddress,jdbcType=VARCHAR},
				#{item.warehouseCategory,jdbcType=CHAR},
				#{item.operationRole,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="WarehouseModel" >
		UPDATE SC_M_WAREHOUSE 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="warehouseName != null">WAREHOUSE_NAME = #{ warehouseName,jdbcType=VARCHAR},</if>
		<if test="warehouseType != null">WAREHOUSE_TYPE = #{ warehouseType,jdbcType=CHAR},</if>
		<if test="warehouseAddress != null">WAREHOUSE_ADDRESS = #{ warehouseAddress,jdbcType=VARCHAR},</if>
		<if test="warehouseCategory != null">WAREHOUSE_CATEGORY = #{ warehouseCategory,jdbcType=CHAR},</if>
		<if test="operationRole != null">OPERATION_ROLE = #{ operationRole,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE SC_M_WAREHOUSE 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.warehouseName != null">WAREHOUSE_NAME = #{item.warehouseName,jdbcType=VARCHAR},</if>
			<if test="item.warehouseType != null">WAREHOUSE_TYPE = #{item.warehouseType,jdbcType=CHAR},</if>
			<if test="item.warehouseAddress != null">WAREHOUSE_ADDRESS = #{item.warehouseAddress,jdbcType=VARCHAR},</if>
			<if test="item.warehouseCategory != null">WAREHOUSE_CATEGORY = #{item.warehouseCategory,jdbcType=CHAR},</if>
			<if test="item.operationRole != null">OPERATION_ROLE = #{item.operationRole,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  SC_M_WAREHOUSE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SC_M_WAREHOUSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SC_M_WAREHOUSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  SC_M_WAREHOUSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="WarehouseResult">
		SELECT 
		<include refid="WarehouseModel_Column_List" />
		FROM SC_M_WAREHOUSE WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="WarehouseResult" >
		SELECT 
		<include refid="WarehouseModel_Column_List" />
		FROM SC_M_WAREHOUSE WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="WarehouseResult" >
		SELECT 
		<include refid="WarehouseModel_Column_List" />
		FROM SC_M_WAREHOUSE
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="WarehouseResult" >
		SELECT 
		<include refid="WarehouseModel_Column_List" />
		FROM SC_M_WAREHOUSE
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="WarehouseResult" >
		SELECT *
		FROM SC_M_WAREHOUSE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="WarehouseResult"> ${sql} </select>
	
	<!--批量禁用 -->
	<update id="forbiddens" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SC_M_WAREHOUSE
		 SET
		 STATUS  =  '3'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--批量启用 -->
	<update id="uses" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  SC_M_WAREHOUSE
		 SET
		 STATUS  =  '2'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<select id="getInfos" resultType="java.util.HashMap">
		${sql}
	</select>
	
</mapper>

