<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.initialization.PpInputPigMapper">

	<resultMap id="PpInputPigResult"  type="PpInputPigModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="pigpenId" column="PIGPEN_ID" jdbcType="INTEGER" />
		<result property="pigId" column="PIG_ID" jdbcType="INTEGER" />
		<result property="earBrand" column="EAR_BRAND" jdbcType="VARCHAR" />
		<result property="earShort" column="EAR_SHORT" jdbcType="VARCHAR" />
		<result property="materialId" column="MATERIAL_ID" jdbcType="INTEGER" />
		<result property="earThorn" column="EAR_THORN" jdbcType="VARCHAR" />
		<result property="breedId" column="BREED_ID" jdbcType="INTEGER" />
		<result property="pigType" column="PIG_TYPE" jdbcType="VARCHAR" />
		<result property="sex" column="SEX" jdbcType="VARCHAR" />
		<result property="strain" column="STRAIN" jdbcType="VARCHAR" />
		<result property="pigClass" column="PIG_CLASS" jdbcType="INTEGER" />
		<result property="parity" column="PARITY" jdbcType="TINYINT" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="birthDate" column="BIRTH_DATE" jdbcType="DATE" />
		<result property="rightTeatNum" column="RIGHT_TEAT_NUM" jdbcType="TINYINT" />
		<result property="leftTeatNum" column="LEFT_TEAT_NUM" jdbcType="TINYINT" />
		<result property="supplierId" column="SUPPLIER_ID" jdbcType="INTEGER" />
		<result property="productDate" column="PRODUCT_DATE" jdbcType="DATE" />
		<result property="enterDate" column="ENTER_DATE" jdbcType="DATE" />
		<result property="onPrice" column="ON_PRICE" jdbcType="DECIMAL" />
		<result property="breedBoarName" column="BREED_BOAR_NAME" jdbcType="VARCHAR" />
		<result property="breedDate" column="BREED_DATE" jdbcType="DATE" />
		<result property="breedBoar" column="BREED_BOAR" jdbcType="INTEGER" />
		<result property="pregnancyDate" column="PREGNANCY_DATE" jdbcType="DATE" />
		<result property="pregnancyResult" column="PREGNANCY_RESULT" jdbcType="VARCHAR" />
		<result property="changeHouseDate" column="CHANGE_HOUSE_DATE" jdbcType="DATE" />
		<result property="changeHouseId" column="CHANGE_HOUSE_ID" jdbcType="INTEGER" />
		<result property="changePigpenId" column="CHANGE_PIGPEN_ID" jdbcType="INTEGER" />
		<result property="deliveryDate" column="DELIVERY_DATE" jdbcType="DATE" />
		<result property="aliveLitterWeight" column="ALIVE_LITTER_WEIGHT" jdbcType="DECIMAL" />
		<result property="healthyNum" column="HEALTHY_NUM" jdbcType="TINYINT" />
		<result property="weakNum" column="WEAK_NUM" jdbcType="TINYINT" />
		<result property="stillbirthNum" column="STILLBIRTH_NUM" jdbcType="TINYINT" />
		<result property="mummyNum" column="MUMMY_NUM" jdbcType="TINYINT" />
		<result property="mutantNum" column="MUTANT_NUM" jdbcType="TINYINT" />
		<result property="weanDate" column="WEAN_DATE" jdbcType="DATE" />
		<result property="weanNum" column="WEAN_NUM" jdbcType="TINYINT" />
		<result property="weanWeight" column="WEAN_WEIGHT" jdbcType="DECIMAL" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="PpInputPigModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,HOUSE_ID,PIGPEN_ID,PIG_ID,EAR_BRAND,EAR_SHORT,MATERIAL_ID,EAR_THORN,BREED_ID,PIG_TYPE,SEX,STRAIN,PIG_CLASS,PARITY,WORKER,BIRTH_DATE,RIGHT_TEAT_NUM,LEFT_TEAT_NUM,SUPPLIER_ID,PRODUCT_DATE,ENTER_DATE,ON_PRICE,BREED_BOAR_NAME,BREED_DATE,BREED_BOAR,PREGNANCY_DATE,PREGNANCY_RESULT,CHANGE_HOUSE_DATE,CHANGE_HOUSE_ID,CHANGE_PIGPEN_ID,DELIVERY_DATE,ALIVE_LITTER_WEIGHT,HEALTHY_NUM,WEAK_NUM,STILLBIRTH_NUM,MUMMY_NUM,MUTANT_NUM,WEAN_DATE,WEAN_NUM,WEAN_WEIGHT,CREATE_ID,CREATE_DATE
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="PpInputPigModel">
		INSERT INTO PP_INPUT_PIG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			HOUSE_ID,
			PIGPEN_ID,
			PIG_ID,
			EAR_BRAND,
			EAR_SHORT,
			MATERIAL_ID,
			EAR_THORN,
			BREED_ID,
			PIG_TYPE,
			SEX,
			STRAIN,
			PIG_CLASS,
			PARITY,
			WORKER,
			BIRTH_DATE,
			RIGHT_TEAT_NUM,
			LEFT_TEAT_NUM,
			SUPPLIER_ID,
			PRODUCT_DATE,
			ENTER_DATE,
			ON_PRICE,
			BREED_BOAR_NAME,
			BREED_DATE,
			BREED_BOAR,
			PREGNANCY_DATE,
			PREGNANCY_RESULT,
			CHANGE_HOUSE_DATE,
			CHANGE_HOUSE_ID,
			DELIVERY_DATE,
			ALIVE_LITTER_WEIGHT,
			HEALTHY_NUM,
			WEAK_NUM,
			STILLBIRTH_NUM,
			MUMMY_NUM,
			MUTANT_NUM,
			WEAN_DATE,
			WEAN_NUM,
			WEAN_WEIGHT,
			CREATE_ID,
			CREATE_DATE
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ pigpenId,jdbcType=INTEGER},
			#{ pigId,jdbcType=INTEGER},
			#{ earBrand,jdbcType=VARCHAR},
			#{ earShort,jdbcType=VARCHAR},
			#{ materialId,jdbcType=INTEGER},
			#{ earThorn,jdbcType=VARCHAR},
			#{ breedId,jdbcType=INTEGER},
			#{ pigType,jdbcType=VARCHAR},
			#{ sex,jdbcType=VARCHAR},
			#{ strain,jdbcType=VARCHAR},
			#{ pigClass,jdbcType=INTEGER},
			#{ parity,jdbcType=TINYINT},
			#{ worker,jdbcType=INTEGER},
			#{ birthDate,jdbcType=DATE},
			#{ rightTeatNum,jdbcType=TINYINT},
			#{ leftTeatNum,jdbcType=TINYINT},
			#{ supplierId,jdbcType=INTEGER},
			#{ productDate,jdbcType=DATE},
			#{ enterDate,jdbcType=DATE},
			#{ onPrice,jdbcType=DECIMAL},
			#{ breedBoarName,jdbcType=VARCHAR},
			#{ breedDate,jdbcType=DATE},
			#{ breedBoar,jdbcType=INTEGER},
			#{ pregnancyDate,jdbcType=DATE},
			#{ pregnancyResult,jdbcType=VARCHAR},
			#{ changeHouseDate,jdbcType=DATE},
			#{ changeHouseId,jdbcType=INTEGER},
			#{ deliveryDate,jdbcType=DATE},
			#{ aliveLitterWeight,jdbcType=DECIMAL},
			#{ healthyNum,jdbcType=TINYINT},
			#{ weakNum,jdbcType=TINYINT},
			#{ stillbirthNum,jdbcType=TINYINT},
			#{ mummyNum,jdbcType=TINYINT},
			#{ mutantNum,jdbcType=TINYINT},
			#{ weanDate,jdbcType=DATE},
			#{ weanNum,jdbcType=TINYINT},
			#{ weanWeight,jdbcType=DECIMAL},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_INPUT_PIG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			HOUSE_ID ,
			PIGPEN_ID ,
			PIG_ID ,
			EAR_BRAND ,
			EAR_SHORT ,
			MATERIAL_ID ,
			EAR_THORN ,
			BREED_ID ,
			PIG_TYPE ,
			SEX ,
			STRAIN ,
			PIG_CLASS ,
			PARITY ,
			WORKER ,
			BIRTH_DATE ,
			RIGHT_TEAT_NUM ,
			LEFT_TEAT_NUM ,
			SUPPLIER_ID ,
			PRODUCT_DATE ,
			ENTER_DATE ,
			ON_PRICE ,
			BREED_BOAR_NAME ,
			BREED_DATE ,
			BREED_BOAR ,
			PREGNANCY_DATE ,
			PREGNANCY_RESULT ,
			CHANGE_HOUSE_DATE ,
			CHANGE_HOUSE_ID ,
			CHANGE_PIGPEN_ID,
			DELIVERY_DATE ,
			ALIVE_LITTER_WEIGHT ,
			HEALTHY_NUM ,
			WEAK_NUM ,
			STILLBIRTH_NUM ,
			MUMMY_NUM ,
			MUTANT_NUM ,
			WEAN_DATE ,
			WEAN_NUM ,
			WEAN_WEIGHT ,
			CREATE_ID ,
			CREATE_DATE 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.pigpenId,jdbcType=INTEGER},
				#{item.pigId,jdbcType=INTEGER},
				#{item.earBrand,jdbcType=VARCHAR},
				#{item.earShort,jdbcType=VARCHAR},
				#{item.materialId,jdbcType=INTEGER},
				#{item.earThorn,jdbcType=VARCHAR},
				#{item.breedId,jdbcType=INTEGER},
				#{item.pigType,jdbcType=VARCHAR},
				#{item.sex,jdbcType=VARCHAR},
				#{item.strain,jdbcType=VARCHAR},
				#{item.pigClass,jdbcType=INTEGER},
				#{item.parity,jdbcType=TINYINT},
				#{item.worker,jdbcType=INTEGER},
				#{item.birthDate,jdbcType=DATE},
				#{item.rightTeatNum,jdbcType=TINYINT},
				#{item.leftTeatNum,jdbcType=TINYINT},
				#{item.supplierId,jdbcType=INTEGER},
				#{item.productDate,jdbcType=DATE},
				#{item.enterDate,jdbcType=DATE},
				#{item.onPrice,jdbcType=DECIMAL},
				#{item.breedBoarName,jdbcType=VARCHAR},
				#{item.breedDate,jdbcType=DATE},
				#{item.breedBoar,jdbcType=INTEGER},
				#{item.pregnancyDate,jdbcType=DATE},
				#{item.pregnancyResult,jdbcType=VARCHAR},
				#{item.changeHouseDate,jdbcType=DATE},
				#{item.changeHouseId,jdbcType=INTEGER},
				#{item.changePigpenId,jdbcType=INTEGER},
				#{item.deliveryDate,jdbcType=DATE},
				#{item.aliveLitterWeight,jdbcType=DECIMAL},
				#{item.healthyNum,jdbcType=TINYINT},
				#{item.weakNum,jdbcType=TINYINT},
				#{item.stillbirthNum,jdbcType=TINYINT},
				#{item.mummyNum,jdbcType=TINYINT},
				#{item.mutantNum,jdbcType=TINYINT},
				#{item.weanDate,jdbcType=DATE},
				#{item.weanNum,jdbcType=TINYINT},
				#{item.weanWeight,jdbcType=DECIMAL},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="PpInputPigModel" >
		UPDATE PP_INPUT_PIG 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="pigpenId != null">PIGPEN_ID = #{ pigpenId,jdbcType=INTEGER},</if>
		<if test="pigId != null">PIG_ID = #{ pigId,jdbcType=INTEGER},</if>
		<if test="earBrand != null">EAR_BRAND = #{ earBrand,jdbcType=VARCHAR},</if>
		<if test="earShort != null">EAR_SHORT = #{ earShort,jdbcType=VARCHAR},</if>
		<if test="materialId != null">MATERIAL_ID = #{ materialId,jdbcType=INTEGER},</if>
		<if test="earThorn != null">EAR_THORN = #{ earThorn,jdbcType=VARCHAR},</if>
		<if test="breedId != null">BREED_ID = #{ breedId,jdbcType=INTEGER},</if>
		<if test="pigType != null">PIG_TYPE = #{ pigType,jdbcType=VARCHAR},</if>
		<if test="sex != null">SEX = #{ sex,jdbcType=VARCHAR},</if>
		<if test="strain != null">STRAIN = #{ strain,jdbcType=VARCHAR},</if>
		<if test="pigClass != null">PIG_CLASS = #{ pigClass,jdbcType=INTEGER},</if>
		<if test="parity != null">PARITY = #{ parity,jdbcType=TINYINT},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="birthDate != null">BIRTH_DATE = #{ birthDate,jdbcType=DATE},</if>
		<if test="rightTeatNum != null">RIGHT_TEAT_NUM = #{ rightTeatNum,jdbcType=TINYINT},</if>
		<if test="leftTeatNum != null">LEFT_TEAT_NUM = #{ leftTeatNum,jdbcType=TINYINT},</if>
		<if test="supplierId != null">SUPPLIER_ID = #{ supplierId,jdbcType=INTEGER},</if>
		<if test="productDate != null">PRODUCT_DATE = #{ productDate,jdbcType=DATE},</if>
		<if test="enterDate != null">ENTER_DATE = #{ enterDate,jdbcType=DATE},</if>
		<if test="onPrice != null">ON_PRICE = #{ onPrice,jdbcType=DECIMAL},</if>
		<if test="breedBoarName != null">BREED_BOAR_NAME = #{ breedBoarName,jdbcType=VARCHAR},</if>
		<if test="breedDate != null">BREED_DATE = #{ breedDate,jdbcType=DATE},</if>
		<if test="breedBoar != null">BREED_BOAR = #{ breedBoar,jdbcType=INTEGER},</if>
		<if test="pregnancyDate != null">PREGNANCY_DATE = #{ pregnancyDate,jdbcType=DATE},</if>
		<if test="pregnancyResult != null">PREGNANCY_RESULT = #{ pregnancyResult,jdbcType=VARCHAR},</if>
		<if test="changeHouseDate != null">CHANGE_HOUSE_DATE = #{ changeHouseDate,jdbcType=DATE},</if>
		<if test="changeHouseId != null">CHANGE_HOUSE_ID = #{ changeHouseId,jdbcType=INTEGER},</if>
		<if test="deliveryDate != null">DELIVERY_DATE = #{ deliveryDate,jdbcType=DATE},</if>
		<if test="aliveLitterWeight != null">ALIVE_LITTER_WEIGHT = #{ aliveLitterWeight,jdbcType=DECIMAL},</if>
		<if test="healthyNum != null">HEALTHY_NUM = #{ healthyNum,jdbcType=TINYINT},</if>
		<if test="weakNum != null">WEAK_NUM = #{ weakNum,jdbcType=TINYINT},</if>
		<if test="stillbirthNum != null">STILLBIRTH_NUM = #{ stillbirthNum,jdbcType=TINYINT},</if>
		<if test="mummyNum != null">MUMMY_NUM = #{ mummyNum,jdbcType=TINYINT},</if>
		<if test="mutantNum != null">MUTANT_NUM = #{ mutantNum,jdbcType=TINYINT},</if>
		<if test="weanDate != null">WEAN_DATE = #{ weanDate,jdbcType=DATE},</if>
		<if test="weanNum != null">WEAN_NUM = #{ weanNum,jdbcType=TINYINT},</if>
		<if test="weanWeight != null">WEAN_WEIGHT = #{ weanWeight,jdbcType=DECIMAL},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_INPUT_PIG 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.pigpenId != null">PIGPEN_ID = #{item.pigpenId,jdbcType=INTEGER},</if>
			<if test="item.pigId != null">PIG_ID = #{item.pigId,jdbcType=INTEGER},</if>
			<if test="item.earBrand != null">EAR_BRAND = #{item.earBrand,jdbcType=VARCHAR},</if>
			<if test="item.earShort != null">EAR_SHORT = #{item.earShort,jdbcType=VARCHAR},</if>
			<if test="item.materialId != null">MATERIAL_ID = #{item.materialId,jdbcType=INTEGER},</if>
			<if test="item.earThorn != null">EAR_THORN = #{item.earThorn,jdbcType=VARCHAR},</if>
			<if test="item.breedId != null">BREED_ID = #{item.breedId,jdbcType=INTEGER},</if>
			<if test="item.pigType != null">PIG_TYPE = #{item.pigType,jdbcType=VARCHAR},</if>
			<if test="item.sex != null">SEX = #{item.sex,jdbcType=VARCHAR},</if>
			<if test="item.strain != null">STRAIN = #{item.strain,jdbcType=VARCHAR},</if>
			<if test="item.pigClass != null">PIG_CLASS = #{item.pigClass,jdbcType=INTEGER},</if>
			<if test="item.parity != null">PARITY = #{item.parity,jdbcType=TINYINT},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.birthDate != null">BIRTH_DATE = #{item.birthDate,jdbcType=DATE},</if>
			<if test="item.rightTeatNum != null">RIGHT_TEAT_NUM = #{item.rightTeatNum,jdbcType=TINYINT},</if>
			<if test="item.leftTeatNum != null">LEFT_TEAT_NUM = #{item.leftTeatNum,jdbcType=TINYINT},</if>
			<if test="item.supplierId != null">SUPPLIER_ID = #{item.supplierId,jdbcType=INTEGER},</if>
			<if test="item.productDate != null">PRODUCT_DATE = #{item.productDate,jdbcType=DATE},</if>
			<if test="item.enterDate != null">ENTER_DATE = #{item.enterDate,jdbcType=DATE},</if>
			<if test="item.onPrice != null">ON_PRICE = #{item.onPrice,jdbcType=DECIMAL},</if>
			<if test="item.breedBoarName != null">BREED_BOAR_NAME = #{item.breedBoarName,jdbcType=VARCHAR},</if>
			<if test="item.breedDate != null">BREED_DATE = #{item.breedDate,jdbcType=DATE},</if>
			<if test="item.breedBoar != null">BREED_BOAR = #{item.breedBoar,jdbcType=INTEGER},</if>
			<if test="item.pregnancyDate != null">PREGNANCY_DATE = #{item.pregnancyDate,jdbcType=DATE},</if>
			<if test="item.pregnancyResult != null">PREGNANCY_RESULT = #{item.pregnancyResult,jdbcType=VARCHAR},</if>
			<if test="item.changeHouseDate != null">CHANGE_HOUSE_DATE = #{item.changeHouseDate,jdbcType=DATE},</if>
			<if test="item.changeHouseId != null">CHANGE_HOUSE_ID = #{item.changeHouseId,jdbcType=INTEGER},</if>
			<if test="item.deliveryDate != null">DELIVERY_DATE = #{item.deliveryDate,jdbcType=DATE},</if>
			<if test="item.aliveLitterWeight != null">ALIVE_LITTER_WEIGHT = #{item.aliveLitterWeight,jdbcType=DECIMAL},</if>
			<if test="item.healthyNum != null">HEALTHY_NUM = #{item.healthyNum,jdbcType=TINYINT},</if>
			<if test="item.weakNum != null">WEAK_NUM = #{item.weakNum,jdbcType=TINYINT},</if>
			<if test="item.stillbirthNum != null">STILLBIRTH_NUM = #{item.stillbirthNum,jdbcType=TINYINT},</if>
			<if test="item.mummyNum != null">MUMMY_NUM = #{item.mummyNum,jdbcType=TINYINT},</if>
			<if test="item.mutantNum != null">MUTANT_NUM = #{item.mutantNum,jdbcType=TINYINT},</if>
			<if test="item.weanDate != null">WEAN_DATE = #{item.weanDate,jdbcType=DATE},</if>
			<if test="item.weanNum != null">WEAN_NUM = #{item.weanNum,jdbcType=TINYINT},</if>
			<if test="item.weanWeight != null">WEAN_WEIGHT = #{item.weanWeight,jdbcType=DECIMAL},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_INPUT_PIG
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_INPUT_PIG
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_INPUT_PIG
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_INPUT_PIG
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="PpInputPigResult">
		SELECT 
		<include refid="PpInputPigModel_Column_List" />
		FROM PP_INPUT_PIG WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="PpInputPigResult" >
		SELECT 
		<include refid="PpInputPigModel_Column_List" />
		FROM PP_INPUT_PIG WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="PpInputPigResult" >
		SELECT 
		<include refid="PpInputPigModel_Column_List" />
		FROM PP_INPUT_PIG
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="PpInputPigResult" >
		SELECT 
		<include refid="PpInputPigModel_Column_List" />
		FROM PP_INPUT_PIG
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="PpInputPigResult" >
		SELECT *
		FROM PP_INPUT_PIG
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="PpInputPigResult"> ${sql} </select>
	
		<!--批量修改状态 -->
	<update id="batchUpdateStatus" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_INPUT_PIG
		 SET
		 STATUS  = ${updateStatus},NOTES=#{item.notes}  WHERE ROW_ID = #{item.rowId}
        </foreach>	
	</update>
	
	<!--修改状态 -->
	<update id="updateStatus" >
		 UPDATE  PP_INPUT_PIG
		 SET
		 STATUS  = ${updateStatus},NOTES=#{pigModel.notes}  WHERE ROW_ID = #{pigModel.rowId}
	</update>
</mapper>

