<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.ChildDieMapper">

	<resultMap id="ChildDieResult"  type="ChildDieModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
		<result property="swineryId" column="SWINERY_ID" jdbcType="INTEGER" />
		<result property="pigId" column="PIG_ID" jdbcType="INTEGER" />
		<result property="lineId" column="LINE_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="pigpenId" column="PIGPEN_ID" jdbcType="INTEGER" />
		<result property="billId" column="BILL_ID" jdbcType="INTEGER" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="babyNum" column="BABY_NUM" jdbcType="TINYINT" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="inSwineryId" column="IN_SWINERY_ID" jdbcType="INTEGER" />
		<result property="customerId" column="CUSTOMER_ID" jdbcType="INTEGER" />
		<result property="pigType" column="PIG_TYPE" jdbcType="VARCHAR" />
		<result property="sex" column="SEX" jdbcType="VARCHAR" />
		<result property="inHouseId" column="IN_HOUSE_ID" jdbcType="INTEGER" />
		<result property="leaveDate" column="LEAVE_DATE" jdbcType="TIMESTAMP" />
		<result property="leaveType" column="LEAVE_TYPE" jdbcType="VARCHAR" />
		<result property="leaveWeight" column="LEAVE_WEIGHT" jdbcType="DECIMAL" />
		<result property="leaveQty" column="LEAVE_QTY" jdbcType="INTEGER" />
		<result property="leaveReason" column="LEAVE_REASON" jdbcType="VARCHAR" />
		<result property="money" column="MONEY" jdbcType="DECIMAL" />
		<result property="parity" column="PARITY" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="ChildDieModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,LINE_NUMBER,COMPANY_ID,FARM_ID,SWINERY_ID,PIG_ID,LINE_ID,HOUSE_ID,PIGPEN_ID,BILL_ID,WORKER,BABY_NUM,CREATE_ID,CREATE_DATE,IN_SWINERY_ID,CUSTOMER_ID,PIG_TYPE,SEX,IN_HOUSE_ID,LEAVE_DATE,LEAVE_TYPE,LEAVE_WEIGHT,LEAVE_QTY,LEAVE_REASON,MONEY,PARITY
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="ChildDieModel">
		INSERT INTO PP_L_BILL_CHILD_DIE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			LINE_NUMBER,
			SWINERY_ID,
			PIG_ID,
			LINE_ID,
			HOUSE_ID,
			PIGPEN_ID,
			BILL_ID,
			WORKER,
			BABY_NUM,
			CREATE_ID,
			CREATE_DATE,
			IN_SWINERY_ID,
			CUSTOMER_ID,
			PIG_TYPE,
			SEX,
			IN_HOUSE_ID,
			LEAVE_DATE,
			LEAVE_TYPE,
			LEAVE_WEIGHT,
			LEAVE_QTY,
			LEAVE_REASON,
			MONEY,
			PARITY
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ lineNumber,jdbcType=INTEGER},
			#{ swineryId,jdbcType=INTEGER},
			#{ pigId,jdbcType=INTEGER},
			#{ lineId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ pigpenId,jdbcType=INTEGER},
			#{ billId,jdbcType=INTEGER},
			#{ worker,jdbcType=INTEGER},
			#{ babyNum,jdbcType=TINYINT},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ inSwineryId,jdbcType=INTEGER},
			#{ customerId,jdbcType=INTEGER},
			#{ pigType,jdbcType=VARCHAR},
			#{ sex,jdbcType=VARCHAR},
			#{ inHouseId,jdbcType=INTEGER},
			#{ leaveDate,jdbcType=TIMESTAMP},
			#{ leaveType,jdbcType=VARCHAR},
			#{ leaveWeight,jdbcType=DECIMAL},
			#{ leaveQty,jdbcType=INTEGER},
			#{ leaveReason,jdbcType=VARCHAR},
			#{ money,jdbcType=DECIMAL},
			#{ parity,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_BILL_CHILD_DIE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			LINE_NUMBER ,
			SWINERY_ID ,
			PIG_ID ,
			LINE_ID ,
			HOUSE_ID ,
			PIGPEN_ID ,
			BILL_ID ,
			WORKER ,
			BABY_NUM ,
			CREATE_ID ,
			CREATE_DATE ,
			IN_SWINERY_ID ,
			CUSTOMER_ID ,
			PIG_TYPE ,
			SEX ,
			IN_HOUSE_ID ,
			LEAVE_DATE ,
			LEAVE_TYPE ,
			LEAVE_WEIGHT ,
			LEAVE_QTY ,
			LEAVE_REASON ,
			MONEY ,
			PARITY 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.lineNumber,jdbcType=INTEGER},
				#{item.swineryId,jdbcType=INTEGER},
				#{item.pigId,jdbcType=INTEGER},
				#{item.lineId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.pigpenId,jdbcType=INTEGER},
				#{item.billId,jdbcType=INTEGER},
				#{item.worker,jdbcType=INTEGER},
				#{item.babyNum,jdbcType=TINYINT},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.inSwineryId,jdbcType=INTEGER},
				#{item.customerId,jdbcType=INTEGER},
				#{item.pigType,jdbcType=VARCHAR},
				#{item.sex,jdbcType=VARCHAR},
				#{item.inHouseId,jdbcType=INTEGER},
				#{item.leaveDate,jdbcType=TIMESTAMP},
				#{item.leaveType,jdbcType=VARCHAR},
				#{item.leaveWeight,jdbcType=DECIMAL},
				#{item.leaveQty,jdbcType=INTEGER},
				#{item.leaveReason,jdbcType=VARCHAR},
				#{item.money,jdbcType=DECIMAL},
				#{item.parity,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="ChildDieModel" >
		UPDATE PP_L_BILL_CHILD_DIE 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER},</if>
		<if test="swineryId != null">SWINERY_ID = #{ swineryId,jdbcType=INTEGER},</if>
		<if test="pigId != null">PIG_ID = #{ pigId,jdbcType=INTEGER},</if>
		<if test="lineId != null">LINE_ID = #{ lineId,jdbcType=INTEGER},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="pigpenId != null">PIGPEN_ID = #{ pigpenId,jdbcType=INTEGER},</if>
		<if test="billId != null">BILL_ID = #{ billId,jdbcType=INTEGER},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="babyNum != null">BABY_NUM = #{ babyNum,jdbcType=TINYINT},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="inSwineryId != null">IN_SWINERY_ID = #{ inSwineryId,jdbcType=INTEGER},</if>
		<if test="customerId != null">CUSTOMER_ID = #{ customerId,jdbcType=INTEGER},</if>
		<if test="pigType != null">PIG_TYPE = #{ pigType,jdbcType=VARCHAR},</if>
		<if test="sex != null">SEX = #{ sex,jdbcType=VARCHAR},</if>
		<if test="inHouseId != null">IN_HOUSE_ID = #{ inHouseId,jdbcType=INTEGER},</if>
		<if test="leaveDate != null">LEAVE_DATE = #{ leaveDate,jdbcType=TIMESTAMP},</if>
		<if test="leaveType != null">LEAVE_TYPE = #{ leaveType,jdbcType=VARCHAR},</if>
		<if test="leaveWeight != null">LEAVE_WEIGHT = #{ leaveWeight,jdbcType=DECIMAL},</if>
		<if test="leaveQty != null">LEAVE_QTY = #{ leaveQty,jdbcType=INTEGER},</if>
		<if test="leaveReason != null">LEAVE_REASON = #{ leaveReason,jdbcType=VARCHAR},</if>
		<if test="money != null">MONEY = #{ money,jdbcType=DECIMAL},</if>
		<if test="parity != null">PARITY = #{ parity,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_CHILD_DIE 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER},</if>
			<if test="item.swineryId != null">SWINERY_ID = #{item.swineryId,jdbcType=INTEGER},</if>
			<if test="item.pigId != null">PIG_ID = #{item.pigId,jdbcType=INTEGER},</if>
			<if test="item.lineId != null">LINE_ID = #{item.lineId,jdbcType=INTEGER},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.pigpenId != null">PIGPEN_ID = #{item.pigpenId,jdbcType=INTEGER},</if>
			<if test="item.billId != null">BILL_ID = #{item.billId,jdbcType=INTEGER},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.babyNum != null">BABY_NUM = #{item.babyNum,jdbcType=TINYINT},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.inSwineryId != null">IN_SWINERY_ID = #{item.inSwineryId,jdbcType=INTEGER},</if>
			<if test="item.customerId != null">CUSTOMER_ID = #{item.customerId,jdbcType=INTEGER},</if>
			<if test="item.pigType != null">PIG_TYPE = #{item.pigType,jdbcType=VARCHAR},</if>
			<if test="item.sex != null">SEX = #{item.sex,jdbcType=VARCHAR},</if>
			<if test="item.inHouseId != null">IN_HOUSE_ID = #{item.inHouseId,jdbcType=INTEGER},</if>
			<if test="item.leaveDate != null">LEAVE_DATE = #{item.leaveDate,jdbcType=TIMESTAMP},</if>
			<if test="item.leaveType != null">LEAVE_TYPE = #{item.leaveType,jdbcType=VARCHAR},</if>
			<if test="item.leaveWeight != null">LEAVE_WEIGHT = #{item.leaveWeight,jdbcType=DECIMAL},</if>
			<if test="item.leaveQty != null">LEAVE_QTY = #{item.leaveQty,jdbcType=INTEGER},</if>
			<if test="item.leaveReason != null">LEAVE_REASON = #{item.leaveReason,jdbcType=VARCHAR},</if>
			<if test="item.money != null">MONEY = #{item.money,jdbcType=DECIMAL},</if>
			<if test="item.parity != null">PARITY = #{item.parity,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_BILL_CHILD_DIE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_CHILD_DIE
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_CHILD_DIE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_CHILD_DIE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="ChildDieResult">
		SELECT 
		<include refid="ChildDieModel_Column_List" />
		FROM PP_L_BILL_CHILD_DIE WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="ChildDieResult" >
		SELECT 
		<include refid="ChildDieModel_Column_List" />
		FROM PP_L_BILL_CHILD_DIE WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="ChildDieResult" >
		SELECT 
		<include refid="ChildDieModel_Column_List" />
		FROM PP_L_BILL_CHILD_DIE
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="ChildDieResult" >
		SELECT 
		<include refid="ChildDieModel_Column_List" />
		FROM PP_L_BILL_CHILD_DIE
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="ChildDieResult" >
		SELECT *
		FROM PP_L_BILL_CHILD_DIE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="ChildDieResult"> ${sql} </select>

	<!--根据条件批量删除 -->
	<update id="deletesByCon2" parameterType="java.util.Map" >
	<![CDATA[ 
		 UPDATE  PP_L_BILL_CHILD_DIE
		 SET
		 DELETED_FLAG = '2' WHERE DELETED_FLAG <> '2' ${condition}
	]]>
	</update>
	
</mapper>

