<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.EarCodeMapper">

	<resultMap id="EarCodeResult"  type="EarCodeModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="businessCode" column="BUSINESS_CODE" jdbcType="VARCHAR" />
		<result property="earBrand" column="EAR_BRAND" jdbcType="VARCHAR" />
		<result property="earShort" column="EAR_SHORT" jdbcType="VARCHAR" />
		<result property="earThorn" column="EAR_THORN" jdbcType="VARCHAR" />
		<result property="electronicEarNo" column="ELECTRONIC_EAR_NO" jdbcType="VARCHAR" />
		<result property="fatherEarId" column="FATHER_EAR_ID" jdbcType="INTEGER" />
		<result property="motherEarId" column="MOTHER_EAR_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="EarCodeModel_Column_List">
		ROW_ID,NOTES,SORT_NBR,STATUS,DELETED_FLAG,ORIGIN_FLAG,ORIGIN_APP,COMPANY_ID,FARM_ID,BUSINESS_CODE,EAR_BRAND,EAR_SHORT,EAR_THORN,ELECTRONIC_EAR_NO,FATHER_EAR_ID,MOTHER_EAR_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="rowId" parameterType="EarCodeModel">
		INSERT INTO PP_L_EAR_CODE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES,
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			COMPANY_ID,
			FARM_ID,
			BUSINESS_CODE,
			EAR_BRAND,
			EAR_SHORT,
			EAR_THORN,
			ELECTRONIC_EAR_NO,
			FATHER_EAR_ID,
			MOTHER_EAR_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ notes,jdbcType=VARCHAR},
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ companyId,jdbcType=INTEGER},
			#{ farmId,jdbcType=INTEGER},
			#{ businessCode,jdbcType=VARCHAR},
			#{ earBrand,jdbcType=VARCHAR},
			#{ earShort,jdbcType=VARCHAR},
			#{ earThorn,jdbcType=VARCHAR},
			#{ electronicEarNo,jdbcType=VARCHAR},
			#{ fatherEarId,jdbcType=INTEGER},
			#{ motherEarId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_EAR_CODE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			NOTES ,
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			COMPANY_ID ,
			FARM_ID ,
			BUSINESS_CODE ,
			EAR_BRAND ,
			EAR_SHORT ,
			EAR_THORN ,
			ELECTRONIC_EAR_NO ,
			FATHER_EAR_ID ,
			MOTHER_EAR_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.notes,jdbcType=VARCHAR},
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.companyId,jdbcType=INTEGER},
				#{item.farmId,jdbcType=INTEGER},
				#{item.businessCode,jdbcType=VARCHAR},
				#{item.earBrand,jdbcType=VARCHAR},
				#{item.earShort,jdbcType=VARCHAR},
				#{item.earThorn,jdbcType=VARCHAR},
				#{item.electronicEarNo,jdbcType=VARCHAR},
				#{item.fatherEarId,jdbcType=INTEGER},
				#{item.motherEarId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="EarCodeModel" >
		UPDATE PP_L_EAR_CODE 
		<set>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="businessCode != null">BUSINESS_CODE = #{ businessCode,jdbcType=VARCHAR},</if>
		<if test="earBrand != null">EAR_BRAND = #{ earBrand,jdbcType=VARCHAR},</if>
		<if test="earShort != null">EAR_SHORT = #{ earShort,jdbcType=VARCHAR},</if>
		<if test="earThorn != null">EAR_THORN = #{ earThorn,jdbcType=VARCHAR},</if>
		<if test="electronicEarNo != null">ELECTRONIC_EAR_NO = #{ electronicEarNo,jdbcType=VARCHAR},</if>
		<if test="fatherEarId != null">FATHER_EAR_ID = #{ fatherEarId,jdbcType=INTEGER},</if>
		<if test="motherEarId != null">MOTHER_EAR_ID = #{ motherEarId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_EAR_CODE 
			<set>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.businessCode != null">BUSINESS_CODE = #{item.businessCode,jdbcType=VARCHAR},</if>
			<if test="item.earBrand != null">EAR_BRAND = #{item.earBrand,jdbcType=VARCHAR},</if>
			<if test="item.earShort != null">EAR_SHORT = #{item.earShort,jdbcType=VARCHAR},</if>
			<if test="item.earThorn != null">EAR_THORN = #{item.earThorn,jdbcType=VARCHAR},</if>
			<if test="item.electronicEarNo != null">ELECTRONIC_EAR_NO = #{item.electronicEarNo,jdbcType=VARCHAR},</if>
			<if test="item.fatherEarId != null">FATHER_EAR_ID = #{item.fatherEarId,jdbcType=INTEGER},</if>
			<if test="item.motherEarId != null">MOTHER_EAR_ID = #{item.motherEarId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_EAR_CODE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_EAR_CODE
		 SET
		 DELETED_FLAG  =  '1'  WHERE ROW_ID = #{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_EAR_CODE
		 SET
		 DELETED_FLAG  =  '1'  WHERE ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="EarCodeResult">
		SELECT *
		FROM PP_L_EAR_CODE WHERE DELETED_FLAG='0' AND STATUS = '1' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="EarCodeResult" >
		SELECT *
		FROM PP_L_EAR_CODE WHERE DELETED_FLAG='0' AND STATUS = '1'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="EarCodeResult" >
		SELECT *
		FROM PP_L_EAR_CODE
		WHERE DELETED_FLAG='0' AND STATUS = '1'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="EarCodeResult" >
		SELECT *
		FROM PP_L_EAR_CODE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="EarCodeResult"> ${sql} </select>

</mapper>

