<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.NurseMapper">

	<resultMap id="NurseResult"  type="NurseModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
		<result property="parity" column="PARITY" jdbcType="INTEGER" />
		<result property="swineryId" column="SWINERY_ID" jdbcType="INTEGER" />
		<result property="pigId" column="PIG_ID" jdbcType="INTEGER" />
		<result property="weanNum" column="WEAN_NUM" jdbcType="TINYINT" />
		<result property="weanWeight" column="WEAN_WEIGHT" jdbcType="DECIMAL" />
		<result property="leaveQty" column="LEAVE_QTY" jdbcType="INTEGER" />
		<result property="fosterNum" column="FOSTER_NUM" jdbcType="TINYINT" />
		<result property="boardSowId" column="BOARD_SOW_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="pigpenId" column="PIGPEN_ID" jdbcType="INTEGER" />
		<result property="billId" column="BILL_ID" jdbcType="INTEGER" />
		<result property="babyNum" column="BABY_NUM" jdbcType="TINYINT" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="inHouseId" column="IN_HOUSE_ID" jdbcType="INTEGER" />
		<result property="inPigpenId" column="IN_PIGPEN_ID" jdbcType="INTEGER" />
		<result property="changeHouseDate" column="CHANGE_HOUSE_DATE" jdbcType="TIMESTAMP" />
		<result property="inPigId" column="IN_PIG_ID" jdbcType="INTEGER" />
		<result property="inPigHouseId" column="IN_PIG_HOUSE_ID" jdbcType="INTEGER" />
		<result property="inPigPigpenId" column="IN_PIG_PIGPEN_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="NurseModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,LINE_NUMBER,PARITY,SWINERY_ID,PIG_ID,WEAN_NUM,WEAN_WEIGHT,LEAVE_QTY,FOSTER_NUM,BOARD_SOW_ID,HOUSE_ID,PIGPEN_ID,BILL_ID,BABY_NUM,WORKER,CREATE_ID,CREATE_DATE,IN_HOUSE_ID,IN_PIGPEN_ID,CHANGE_HOUSE_DATE,IN_PIG_ID,IN_PIG_HOUSE_ID,IN_PIG_PIGPEN_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="NurseModel">
		INSERT INTO PP_L_BILL_NURSE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			LINE_NUMBER,
			PARITY,
			SWINERY_ID,
			PIG_ID,
			WEAN_NUM,
			WEAN_WEIGHT,
			LEAVE_QTY,
			FOSTER_NUM,
			BOARD_SOW_ID,
			HOUSE_ID,
			PIGPEN_ID,
			BILL_ID,
			BABY_NUM,
			WORKER,
			CREATE_ID,
			CREATE_DATE,
			IN_HOUSE_ID,
			IN_PIGPEN_ID,
			CHANGE_HOUSE_DATE,
			IN_PIG_ID,
			IN_PIG_HOUSE_ID,
			IN_PIG_PIGPEN_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ lineNumber,jdbcType=INTEGER},
			#{ parity,jdbcType=INTEGER},
			#{ swineryId,jdbcType=INTEGER},
			#{ pigId,jdbcType=INTEGER},
			#{ weanNum,jdbcType=TINYINT},
			#{ weanWeight,jdbcType=DECIMAL},
			#{ leaveQty,jdbcType=INTEGER},
			#{ fosterNum,jdbcType=TINYINT},
			#{ boardSowId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ pigpenId,jdbcType=INTEGER},
			#{ billId,jdbcType=INTEGER},
			#{ babyNum,jdbcType=TINYINT},
			#{ worker,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ inHouseId,jdbcType=INTEGER},
			#{ inPigpenId,jdbcType=INTEGER},
			#{ changeHouseDate,jdbcType=TIMESTAMP},
			#{ inPigId,jdbcType=INTEGER},
			#{ inPigHouseId,jdbcType=INTEGER},
			#{ inPigPigpenId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_BILL_NURSE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			LINE_NUMBER ,
			PARITY ,
			SWINERY_ID ,
			PIG_ID ,
			WEAN_NUM ,
			WEAN_WEIGHT ,
			LEAVE_QTY ,
			FOSTER_NUM ,
			BOARD_SOW_ID ,
			HOUSE_ID ,
			PIGPEN_ID ,
			BILL_ID ,
			BABY_NUM ,
			WORKER ,
			CREATE_ID ,
			CREATE_DATE ,
			IN_HOUSE_ID ,
			IN_PIGPEN_ID ,
			CHANGE_HOUSE_DATE ,
			IN_PIG_ID ,
			IN_PIG_HOUSE_ID ,
			IN_PIG_PIGPEN_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.lineNumber,jdbcType=INTEGER},
				#{item.parity,jdbcType=INTEGER},
				#{item.swineryId,jdbcType=INTEGER},
				#{item.pigId,jdbcType=INTEGER},
				#{item.weanNum,jdbcType=TINYINT},
				#{item.weanWeight,jdbcType=DECIMAL},
				#{item.leaveQty,jdbcType=INTEGER},
				#{item.fosterNum,jdbcType=TINYINT},
				#{item.boardSowId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.pigpenId,jdbcType=INTEGER},
				#{item.billId,jdbcType=INTEGER},
				#{item.babyNum,jdbcType=TINYINT},
				#{item.worker,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.inHouseId,jdbcType=INTEGER},
				#{item.inPigpenId,jdbcType=INTEGER},
				#{item.changeHouseDate,jdbcType=TIMESTAMP},
				#{item.inPigId,jdbcType=INTEGER},
				#{item.inPigHouseId,jdbcType=INTEGER},
				#{item.inPigPigpenId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="NurseModel" >
		UPDATE PP_L_BILL_NURSE 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER},</if>
		<if test="parity != null">PARITY = #{ parity,jdbcType=INTEGER},</if>
		<if test="swineryId != null">SWINERY_ID = #{ swineryId,jdbcType=INTEGER},</if>
		<if test="pigId != null">PIG_ID = #{ pigId,jdbcType=INTEGER},</if>
		<if test="weanNum != null">WEAN_NUM = #{ weanNum,jdbcType=TINYINT},</if>
		<if test="weanWeight != null">WEAN_WEIGHT = #{ weanWeight,jdbcType=DECIMAL},</if>
		<if test="leaveQty != null">LEAVE_QTY = #{ leaveQty,jdbcType=INTEGER},</if>
		<if test="fosterNum != null">FOSTER_NUM = #{ fosterNum,jdbcType=TINYINT},</if>
		<if test="boardSowId != null">BOARD_SOW_ID = #{ boardSowId,jdbcType=INTEGER},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="pigpenId != null">PIGPEN_ID = #{ pigpenId,jdbcType=INTEGER},</if>
		<if test="billId != null">BILL_ID = #{ billId,jdbcType=INTEGER},</if>
		<if test="babyNum != null">BABY_NUM = #{ babyNum,jdbcType=TINYINT},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="inHouseId != null">IN_HOUSE_ID = #{ inHouseId,jdbcType=INTEGER},</if>
		<if test="inPigpenId != null">IN_PIGPEN_ID = #{ inPigpenId,jdbcType=INTEGER},</if>
		<if test="changeHouseDate != null">CHANGE_HOUSE_DATE = #{ changeHouseDate,jdbcType=TIMESTAMP},</if>
		<if test="inPigId != null">IN_PIG_ID = #{ inPigId,jdbcType=INTEGER},</if>
		<if test="inPigHouseId != null">IN_PIG_HOUSE_ID = #{ inPigHouseId,jdbcType=INTEGER},</if>
		<if test="inPigPigpenId != null">IN_PIG_PIGPEN_ID = #{ inPigPigpenId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_NURSE 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER},</if>
			<if test="item.parity != null">PARITY = #{item.parity,jdbcType=INTEGER},</if>
			<if test="item.swineryId != null">SWINERY_ID = #{item.swineryId,jdbcType=INTEGER},</if>
			<if test="item.pigId != null">PIG_ID = #{item.pigId,jdbcType=INTEGER},</if>
			<if test="item.weanNum != null">WEAN_NUM = #{item.weanNum,jdbcType=TINYINT},</if>
			<if test="item.weanWeight != null">WEAN_WEIGHT = #{item.weanWeight,jdbcType=DECIMAL},</if>
			<if test="item.leaveQty != null">LEAVE_QTY = #{item.leaveQty,jdbcType=INTEGER},</if>
			<if test="item.fosterNum != null">FOSTER_NUM = #{item.fosterNum,jdbcType=TINYINT},</if>
			<if test="item.boardSowId != null">BOARD_SOW_ID = #{item.boardSowId,jdbcType=INTEGER},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.pigpenId != null">PIGPEN_ID = #{item.pigpenId,jdbcType=INTEGER},</if>
			<if test="item.billId != null">BILL_ID = #{item.billId,jdbcType=INTEGER},</if>
			<if test="item.babyNum != null">BABY_NUM = #{item.babyNum,jdbcType=TINYINT},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.inHouseId != null">IN_HOUSE_ID = #{item.inHouseId,jdbcType=INTEGER},</if>
			<if test="item.inPigpenId != null">IN_PIGPEN_ID = #{item.inPigpenId,jdbcType=INTEGER},</if>
			<if test="item.changeHouseDate != null">CHANGE_HOUSE_DATE = #{item.changeHouseDate,jdbcType=TIMESTAMP},</if>
			<if test="item.inPigId != null">IN_PIG_ID = #{item.inPigId,jdbcType=INTEGER},</if>
			<if test="item.inPigHouseId != null">IN_PIG_HOUSE_ID = #{item.inPigHouseId,jdbcType=INTEGER},</if>
			<if test="item.inPigPigpenId != null">IN_PIG_PIGPEN_ID = #{item.inPigPigpenId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_BILL_NURSE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_NURSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_NURSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_NURSE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="NurseResult">
		SELECT 
		<include refid="NurseModel_Column_List" />
		FROM PP_L_BILL_NURSE WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="NurseResult" >
		SELECT 
		<include refid="NurseModel_Column_List" />
		FROM PP_L_BILL_NURSE WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="NurseResult" >
		SELECT 
		<include refid="NurseModel_Column_List" />
		FROM PP_L_BILL_NURSE
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="NurseResult" >
		SELECT 
		<include refid="NurseModel_Column_List" />
		FROM PP_L_BILL_NURSE
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="NurseResult" >
		SELECT *
		FROM PP_L_BILL_NURSE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="NurseResult"> ${sql} </select>

</mapper>

