<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.SemenMapper">

	<resultMap id="SemenResult"  type="SemenModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
		<result property="swineryId" column="SWINERY_ID" jdbcType="INTEGER" />
		<result property="pigId" column="PIG_ID" jdbcType="INTEGER" />
		<result property="lineId" column="LINE_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="pigpenId" column="PIGPEN_ID" jdbcType="INTEGER" />
		<result property="billId" column="BILL_ID" jdbcType="INTEGER" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="materialId" column="MATERIAL_ID" jdbcType="INTEGER" />
		<result property="dayAge" column="DAY_AGE" jdbcType="INTEGER" />
		<result property="semenDate" column="SEMEN_DATE" jdbcType="TIMESTAMP" />
		<result property="semenType" column="SEMEN_TYPE" jdbcType="VARCHAR" />
		<result property="semenQty" column="SEMEN_QTY" jdbcType="DECIMAL" />
		<result property="anhNum" column="ANH_NUM" jdbcType="DECIMAL" />
		<result property="analust" column="ANALUST" jdbcType="INTEGER" />
		<result property="semenBatchNo" column="SEMEN_BATCH_NO" jdbcType="VARCHAR" />
		<result property="spermMotility" column="SPERM_MOTILITY" jdbcType="DECIMAL" />
		<result property="spermDensity" column="SPERM_DENSITY" jdbcType="DECIMAL" />
		<result property="abnormationRate" column="ABNORMATION_RATE" jdbcType="DECIMAL" />
		<result property="cohesion" column="COHESION" jdbcType="VARCHAR" />
		<result property="odour" column="ODOUR" jdbcType="VARCHAR" />
		<result property="color" column="COLOR" jdbcType="VARCHAR" />
		<result property="pack" column="PACK" jdbcType="VARCHAR" />
		<result property="spec" column="SPEC" jdbcType="VARCHAR" />
		<result property="validDate" column="VALID_DATE" jdbcType="TIMESTAMP" />
		<result property="origin" column="ORIGIN" jdbcType="CHAR" />
		<result property="supplierId" column="SUPPLIER_ID" jdbcType="INTEGER" />
		<result property="manufacturerId" column="MANUFACTURER_ID" jdbcType="INTEGER" />
		<result property="warehouseId" column="WAREHOUSE_ID" jdbcType="INTEGER" />
		<result property="printNum" column="PRINT_NUM" jdbcType="INTEGER" />
		<result property="inputDate" column="INPUT_DATE" jdbcType="TIMESTAMP" />
		<result property="earBrand" column="EAR_BRAND" jdbcType="VARCHAR" />
		<result property="boarMaterialId" column="BOAR_MATERIAL_ID" jdbcType="INTEGER" />
		<result property="breedId" column="BREED_ID" jdbcType="INTEGER" />
		<result property="spermNum" column="SPERM_NUM" jdbcType="DECIMAL" />
		<result property="semenSaleRowId" column="SEMEN_SALE_ROW_ID" jdbcType="INTEGER" />
		<result property="deletedBillId" column="DELETED_BILL_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="SemenModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,LINE_NUMBER,SWINERY_ID,PIG_ID,LINE_ID,HOUSE_ID,PIGPEN_ID,BILL_ID,WORKER,CREATE_ID,CREATE_DATE,MATERIAL_ID,DAY_AGE,SEMEN_DATE,SEMEN_TYPE,SEMEN_QTY,ANH_NUM,ANALUST,SEMEN_BATCH_NO,SPERM_MOTILITY,SPERM_DENSITY,ABNORMATION_RATE,COHESION,ODOUR,COLOR,PACK,SPEC,VALID_DATE,ORIGIN,SUPPLIER_ID,MANUFACTURER_ID,WAREHOUSE_ID,PRINT_NUM,INPUT_DATE,EAR_BRAND,BOAR_MATERIAL_ID,BREED_ID,SPERM_NUM,SEMEN_SALE_ROW_ID,DELETED_BILL_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="SemenModel">
		INSERT INTO PP_L_BILL_SEMEN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			LINE_NUMBER,
			SWINERY_ID,
			PIG_ID,
			LINE_ID,
			HOUSE_ID,
			PIGPEN_ID,
			BILL_ID,
			WORKER,
			CREATE_ID,
			CREATE_DATE,
			MATERIAL_ID,
			DAY_AGE,
			SEMEN_DATE,
			SEMEN_TYPE,
			SEMEN_QTY,
			ANH_NUM,
			ANALUST,
			SEMEN_BATCH_NO,
			SPERM_MOTILITY,
			SPERM_DENSITY,
			ABNORMATION_RATE,
			COHESION,
			ODOUR,
			COLOR,
			PACK,
			SPEC,
			VALID_DATE,
			ORIGIN,
			SUPPLIER_ID,
			MANUFACTURER_ID,
			WAREHOUSE_ID,
			PRINT_NUM,
			INPUT_DATE,
			EAR_BRAND,
			BOAR_MATERIAL_ID,
			BREED_ID,
			SPERM_NUM,
			SEMEN_SALE_ROW_ID,
			DELETED_BILL_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ lineNumber,jdbcType=INTEGER},
			#{ swineryId,jdbcType=INTEGER},
			#{ pigId,jdbcType=INTEGER},
			#{ lineId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ pigpenId,jdbcType=INTEGER},
			#{ billId,jdbcType=INTEGER},
			#{ worker,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ materialId,jdbcType=INTEGER},
			#{ dayAge,jdbcType=INTEGER},
			#{ semenDate,jdbcType=TIMESTAMP},
			#{ semenType,jdbcType=VARCHAR},
			#{ semenQty,jdbcType=DECIMAL},
			#{ anhNum,jdbcType=DECIMAL},
			#{ analust,jdbcType=INTEGER},
			#{ semenBatchNo,jdbcType=VARCHAR},
			#{ spermMotility,jdbcType=DECIMAL},
			#{ spermDensity,jdbcType=DECIMAL},
			#{ abnormationRate,jdbcType=DECIMAL},
			#{ cohesion,jdbcType=VARCHAR},
			#{ odour,jdbcType=VARCHAR},
			#{ color,jdbcType=VARCHAR},
			#{ pack,jdbcType=VARCHAR},
			#{ spec,jdbcType=VARCHAR},
			#{ validDate,jdbcType=TIMESTAMP},
			#{ origin,jdbcType=CHAR},
			#{ supplierId,jdbcType=INTEGER},
			#{ manufacturerId,jdbcType=INTEGER},
			#{ warehouseId,jdbcType=INTEGER},
			#{ printNum,jdbcType=INTEGER},
			#{ inputDate,jdbcType=TIMESTAMP},
			#{ earBrand,jdbcType=VARCHAR},
			#{ boarMaterialId,jdbcType=INTEGER},
			#{ breedId,jdbcType=INTEGER},
			#{ spermNum,jdbcType=DECIMAL},
			#{ semenSaleRowId,jdbcType=INTEGER},
			#{ deletedBillId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_BILL_SEMEN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			LINE_NUMBER ,
			SWINERY_ID ,
			PIG_ID ,
			LINE_ID ,
			HOUSE_ID ,
			PIGPEN_ID ,
			BILL_ID ,
			WORKER ,
			CREATE_ID ,
			CREATE_DATE ,
			MATERIAL_ID ,
			DAY_AGE ,
			SEMEN_DATE ,
			SEMEN_TYPE ,
			SEMEN_QTY ,
			ANH_NUM ,
			ANALUST ,
			SEMEN_BATCH_NO ,
			SPERM_MOTILITY ,
			SPERM_DENSITY ,
			ABNORMATION_RATE ,
			COHESION ,
			ODOUR ,
			COLOR ,
			PACK ,
			SPEC ,
			VALID_DATE ,
			ORIGIN ,
			SUPPLIER_ID ,
			MANUFACTURER_ID ,
			WAREHOUSE_ID ,
			PRINT_NUM ,
			INPUT_DATE ,
			EAR_BRAND ,
			BOAR_MATERIAL_ID ,
			BREED_ID ,
			SPERM_NUM ,
			SEMEN_SALE_ROW_ID ,
			DELETED_BILL_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.lineNumber,jdbcType=INTEGER},
				#{item.swineryId,jdbcType=INTEGER},
				#{item.pigId,jdbcType=INTEGER},
				#{item.lineId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.pigpenId,jdbcType=INTEGER},
				#{item.billId,jdbcType=INTEGER},
				#{item.worker,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.materialId,jdbcType=INTEGER},
				#{item.dayAge,jdbcType=INTEGER},
				#{item.semenDate,jdbcType=TIMESTAMP},
				#{item.semenType,jdbcType=VARCHAR},
				#{item.semenQty,jdbcType=DECIMAL},
				#{item.anhNum,jdbcType=DECIMAL},
				#{item.analust,jdbcType=INTEGER},
				#{item.semenBatchNo,jdbcType=VARCHAR},
				#{item.spermMotility,jdbcType=DECIMAL},
				#{item.spermDensity,jdbcType=DECIMAL},
				#{item.abnormationRate,jdbcType=DECIMAL},
				#{item.cohesion,jdbcType=VARCHAR},
				#{item.odour,jdbcType=VARCHAR},
				#{item.color,jdbcType=VARCHAR},
				#{item.pack,jdbcType=VARCHAR},
				#{item.spec,jdbcType=VARCHAR},
				#{item.validDate,jdbcType=TIMESTAMP},
				#{item.origin,jdbcType=CHAR},
				#{item.supplierId,jdbcType=INTEGER},
				#{item.manufacturerId,jdbcType=INTEGER},
				#{item.warehouseId,jdbcType=INTEGER},
				#{item.printNum,jdbcType=INTEGER},
				#{item.inputDate,jdbcType=TIMESTAMP},
				#{item.earBrand,jdbcType=VARCHAR},
				#{item.boarMaterialId,jdbcType=INTEGER},
				#{item.breedId,jdbcType=INTEGER},
				#{item.spermNum,jdbcType=DECIMAL},
				#{item.semenSaleRowId,jdbcType=INTEGER},
				#{item.deletedBillId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="SemenModel" >
		UPDATE PP_L_BILL_SEMEN 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER},</if>
		<if test="swineryId != null">SWINERY_ID = #{ swineryId,jdbcType=INTEGER},</if>
		<if test="pigId != null">PIG_ID = #{ pigId,jdbcType=INTEGER},</if>
		<if test="lineId != null">LINE_ID = #{ lineId,jdbcType=INTEGER},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="pigpenId != null">PIGPEN_ID = #{ pigpenId,jdbcType=INTEGER},</if>
		<if test="billId != null">BILL_ID = #{ billId,jdbcType=INTEGER},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="materialId != null">MATERIAL_ID = #{ materialId,jdbcType=INTEGER},</if>
		<if test="dayAge != null">DAY_AGE = #{ dayAge,jdbcType=INTEGER},</if>
		<if test="semenDate != null">SEMEN_DATE = #{ semenDate,jdbcType=TIMESTAMP},</if>
		<if test="semenType != null">SEMEN_TYPE = #{ semenType,jdbcType=VARCHAR},</if>
		<if test="semenQty != null">SEMEN_QTY = #{ semenQty,jdbcType=DECIMAL},</if>
		<if test="anhNum != null">ANH_NUM = #{ anhNum,jdbcType=DECIMAL},</if>
		<if test="analust != null">ANALUST = #{ analust,jdbcType=INTEGER},</if>
		<if test="semenBatchNo != null">SEMEN_BATCH_NO = #{ semenBatchNo,jdbcType=VARCHAR},</if>
		<if test="spermMotility != null">SPERM_MOTILITY = #{ spermMotility,jdbcType=DECIMAL},</if>
		<if test="spermDensity != null">SPERM_DENSITY = #{ spermDensity,jdbcType=DECIMAL},</if>
		<if test="abnormationRate != null">ABNORMATION_RATE = #{ abnormationRate,jdbcType=DECIMAL},</if>
		<if test="cohesion != null">COHESION = #{ cohesion,jdbcType=VARCHAR},</if>
		<if test="odour != null">ODOUR = #{ odour,jdbcType=VARCHAR},</if>
		<if test="color != null">COLOR = #{ color,jdbcType=VARCHAR},</if>
		<if test="pack != null">PACK = #{ pack,jdbcType=VARCHAR},</if>
		<if test="spec != null">SPEC = #{ spec,jdbcType=VARCHAR},</if>
		<if test="validDate != null">VALID_DATE = #{ validDate,jdbcType=TIMESTAMP},</if>
		<if test="origin != null">ORIGIN = #{ origin,jdbcType=CHAR},</if>
		<if test="supplierId != null">SUPPLIER_ID = #{ supplierId,jdbcType=INTEGER},</if>
		<if test="manufacturerId != null">MANUFACTURER_ID = #{ manufacturerId,jdbcType=INTEGER},</if>
		<if test="warehouseId != null">WAREHOUSE_ID = #{ warehouseId,jdbcType=INTEGER},</if>
		<if test="printNum != null">PRINT_NUM = #{ printNum,jdbcType=INTEGER},</if>
		<if test="inputDate != null">INPUT_DATE = #{ inputDate,jdbcType=TIMESTAMP},</if>
		<if test="earBrand != null">EAR_BRAND = #{ earBrand,jdbcType=VARCHAR},</if>
		<if test="boarMaterialId != null">BOAR_MATERIAL_ID = #{ boarMaterialId,jdbcType=INTEGER},</if>
		<if test="breedId != null">BREED_ID = #{ breedId,jdbcType=INTEGER},</if>
		<if test="spermNum != null">SPERM_NUM = #{ spermNum,jdbcType=DECIMAL},</if>
		<if test="semenSaleRowId != null">SEMEN_SALE_ROW_ID = #{ semenSaleRowId,jdbcType=INTEGER},</if>
		<if test="deletedBillId != null">DELETED_BILL_ID = #{ deletedBillId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_SEMEN 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER},</if>
			<if test="item.swineryId != null">SWINERY_ID = #{item.swineryId,jdbcType=INTEGER},</if>
			<if test="item.pigId != null">PIG_ID = #{item.pigId,jdbcType=INTEGER},</if>
			<if test="item.lineId != null">LINE_ID = #{item.lineId,jdbcType=INTEGER},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.pigpenId != null">PIGPEN_ID = #{item.pigpenId,jdbcType=INTEGER},</if>
			<if test="item.billId != null">BILL_ID = #{item.billId,jdbcType=INTEGER},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.materialId != null">MATERIAL_ID = #{item.materialId,jdbcType=INTEGER},</if>
			<if test="item.dayAge != null">DAY_AGE = #{item.dayAge,jdbcType=INTEGER},</if>
			<if test="item.semenDate != null">SEMEN_DATE = #{item.semenDate,jdbcType=TIMESTAMP},</if>
			<if test="item.semenType != null">SEMEN_TYPE = #{item.semenType,jdbcType=VARCHAR},</if>
			<if test="item.semenQty != null">SEMEN_QTY = #{item.semenQty,jdbcType=DECIMAL},</if>
			<if test="item.anhNum != null">ANH_NUM = #{item.anhNum,jdbcType=DECIMAL},</if>
			<if test="item.analust != null">ANALUST = #{item.analust,jdbcType=INTEGER},</if>
			<if test="item.semenBatchNo != null">SEMEN_BATCH_NO = #{item.semenBatchNo,jdbcType=VARCHAR},</if>
			<if test="item.spermMotility != null">SPERM_MOTILITY = #{item.spermMotility,jdbcType=DECIMAL},</if>
			<if test="item.spermDensity != null">SPERM_DENSITY = #{item.spermDensity,jdbcType=DECIMAL},</if>
			<if test="item.abnormationRate != null">ABNORMATION_RATE = #{item.abnormationRate,jdbcType=DECIMAL},</if>
			<if test="item.cohesion != null">COHESION = #{item.cohesion,jdbcType=VARCHAR},</if>
			<if test="item.odour != null">ODOUR = #{item.odour,jdbcType=VARCHAR},</if>
			<if test="item.color != null">COLOR = #{item.color,jdbcType=VARCHAR},</if>
			<if test="item.pack != null">PACK = #{item.pack,jdbcType=VARCHAR},</if>
			<if test="item.spec != null">SPEC = #{item.spec,jdbcType=VARCHAR},</if>
			<if test="item.validDate != null">VALID_DATE = #{item.validDate,jdbcType=TIMESTAMP},</if>
			<if test="item.origin != null">ORIGIN = #{item.origin,jdbcType=CHAR},</if>
			<if test="item.supplierId != null">SUPPLIER_ID = #{item.supplierId,jdbcType=INTEGER},</if>
			<if test="item.manufacturerId != null">MANUFACTURER_ID = #{item.manufacturerId,jdbcType=INTEGER},</if>
			<if test="item.warehouseId != null">WAREHOUSE_ID = #{item.warehouseId,jdbcType=INTEGER},</if>
			<if test="item.printNum != null">PRINT_NUM = #{item.printNum,jdbcType=INTEGER},</if>
			<if test="item.inputDate != null">INPUT_DATE = #{item.inputDate,jdbcType=TIMESTAMP},</if>
			<if test="item.earBrand != null">EAR_BRAND = #{item.earBrand,jdbcType=VARCHAR},</if>
			<if test="item.boarMaterialId != null">BOAR_MATERIAL_ID = #{item.boarMaterialId,jdbcType=INTEGER},</if>
			<if test="item.breedId != null">BREED_ID = #{item.breedId,jdbcType=INTEGER},</if>
			<if test="item.spermNum != null">SPERM_NUM = #{item.spermNum,jdbcType=DECIMAL},</if>
			<if test="item.semenSaleRowId != null">SEMEN_SALE_ROW_ID = #{item.semenSaleRowId,jdbcType=INTEGER},</if>
			<if test="item.deletedBillId != null">DELETED_BILL_ID = #{item.deletedBillId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_BILL_SEMEN
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="SemenResult">
		SELECT 
		<include refid="SemenModel_Column_List" />
		FROM PP_L_BILL_SEMEN WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="SemenResult" >
		SELECT 
		<include refid="SemenModel_Column_List" />
		FROM PP_L_BILL_SEMEN WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="SemenResult" >
		SELECT 
		<include refid="SemenModel_Column_List" />
		FROM PP_L_BILL_SEMEN
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="SemenResult" >
		SELECT 
		<include refid="SemenModel_Column_List" />
		FROM PP_L_BILL_SEMEN
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="SemenResult" >
		SELECT *
		FROM PP_L_BILL_SEMEN
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="SemenResult"> ${sql} </select>

	<!--撤销事件批量删除 -->
	<update id="deletesForCancel" parameterType="java.util.List" >
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
		 UPDATE  PP_L_BILL_SEMEN
		 SET
		 <if test="item.deletedBillId != null">DELETED_BILL_ID = #{item.deletedBillId,jdbcType=INTEGER},</if>
		 DELETED_FLAG  =  '2'
		 WHERE ROW_ID = #{item.rowId,jdbcType=INTEGER}	
        </foreach>	
	</update>

</mapper>

