<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.SemenSaleMapper">

	<resultMap id="SemenSaleResult"  type="SemenSaleModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="billId" column="BILL_ID" jdbcType="INTEGER" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
		<result property="isEntry" column="IS_ENTRY" jdbcType="INTEGER" />
		<result property="customerId" column="CUSTOMER_ID" jdbcType="INTEGER" />
		<result property="semenId" column="SEMEN_ID" jdbcType="INTEGER" />
		<result property="warehouseId" column="WAREHOUSE_ID" jdbcType="INTEGER" />
		<result property="saleNum" column="SALE_NUM" jdbcType="INTEGER" />
		<result property="validDate" column="VALID_DATE" jdbcType="TIMESTAMP" />
		<result property="saleDate" column="SALE_DATE" jdbcType="TIMESTAMP" />
		<result property="boarId" column="BOAR_ID" jdbcType="INTEGER" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="deletedBillId" column="DELETED_BILL_ID" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="SemenSaleModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,FARM_ID,BILL_ID,LINE_NUMBER,IS_ENTRY,CUSTOMER_ID,SEMEN_ID,WAREHOUSE_ID,SALE_NUM,VALID_DATE,SALE_DATE,BOAR_ID,WORKER,CREATE_ID,CREATE_DATE,DELETED_BILL_ID
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="SemenSaleModel">
		INSERT INTO PP_L_BILL_SEMEN_SALE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			BILL_ID,
			LINE_NUMBER,
			IS_ENTRY,
			CUSTOMER_ID,
			SEMEN_ID,
			WAREHOUSE_ID,
			SALE_NUM,
			VALID_DATE,
			SALE_DATE,
			BOAR_ID,
			WORKER,
			CREATE_ID,
			CREATE_DATE,
			DELETED_BILL_ID
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ billId,jdbcType=INTEGER},
			#{ lineNumber,jdbcType=INTEGER},
			#{ isEntry,jdbcType=INTEGER},
			#{ customerId,jdbcType=INTEGER},
			#{ semenId,jdbcType=INTEGER},
			#{ warehouseId,jdbcType=INTEGER},
			#{ saleNum,jdbcType=INTEGER},
			#{ validDate,jdbcType=TIMESTAMP},
			#{ saleDate,jdbcType=TIMESTAMP},
			#{ boarId,jdbcType=INTEGER},
			#{ worker,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ deletedBillId,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_BILL_SEMEN_SALE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			BILL_ID ,
			LINE_NUMBER ,
			IS_ENTRY ,
			CUSTOMER_ID ,
			SEMEN_ID ,
			WAREHOUSE_ID ,
			SALE_NUM ,
			VALID_DATE ,
			SALE_DATE ,
			BOAR_ID ,
			WORKER ,
			CREATE_ID ,
			CREATE_DATE ,
			DELETED_BILL_ID 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.billId,jdbcType=INTEGER},
				#{item.lineNumber,jdbcType=INTEGER},
				#{item.isEntry,jdbcType=INTEGER},
				#{item.customerId,jdbcType=INTEGER},
				#{item.semenId,jdbcType=INTEGER},
				#{item.warehouseId,jdbcType=INTEGER},
				#{item.saleNum,jdbcType=INTEGER},
				#{item.validDate,jdbcType=TIMESTAMP},
				#{item.saleDate,jdbcType=TIMESTAMP},
				#{item.boarId,jdbcType=INTEGER},
				#{item.worker,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.deletedBillId,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="SemenSaleModel" >
		UPDATE PP_L_BILL_SEMEN_SALE 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="billId != null">BILL_ID = #{ billId,jdbcType=INTEGER},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER},</if>
		<if test="isEntry != null">IS_ENTRY = #{ isEntry,jdbcType=INTEGER},</if>
		<if test="customerId != null">CUSTOMER_ID = #{ customerId,jdbcType=INTEGER},</if>
		<if test="semenId != null">SEMEN_ID = #{ semenId,jdbcType=INTEGER},</if>
		<if test="warehouseId != null">WAREHOUSE_ID = #{ warehouseId,jdbcType=INTEGER},</if>
		<if test="saleNum != null">SALE_NUM = #{ saleNum,jdbcType=INTEGER},</if>
		<if test="validDate != null">VALID_DATE = #{ validDate,jdbcType=TIMESTAMP},</if>
		<if test="saleDate != null">SALE_DATE = #{ saleDate,jdbcType=TIMESTAMP},</if>
		<if test="boarId != null">BOAR_ID = #{ boarId,jdbcType=INTEGER},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="deletedBillId != null">DELETED_BILL_ID = #{ deletedBillId,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_SEMEN_SALE 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.billId != null">BILL_ID = #{item.billId,jdbcType=INTEGER},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER},</if>
			<if test="item.isEntry != null">IS_ENTRY = #{item.isEntry,jdbcType=INTEGER},</if>
			<if test="item.customerId != null">CUSTOMER_ID = #{item.customerId,jdbcType=INTEGER},</if>
			<if test="item.semenId != null">SEMEN_ID = #{item.semenId,jdbcType=INTEGER},</if>
			<if test="item.warehouseId != null">WAREHOUSE_ID = #{item.warehouseId,jdbcType=INTEGER},</if>
			<if test="item.saleNum != null">SALE_NUM = #{item.saleNum,jdbcType=INTEGER},</if>
			<if test="item.validDate != null">VALID_DATE = #{item.validDate,jdbcType=TIMESTAMP},</if>
			<if test="item.saleDate != null">SALE_DATE = #{item.saleDate,jdbcType=TIMESTAMP},</if>
			<if test="item.boarId != null">BOAR_ID = #{item.boarId,jdbcType=INTEGER},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.deletedBillId != null">DELETED_BILL_ID = #{item.deletedBillId,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_BILL_SEMEN_SALE
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN_SALE
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN_SALE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_SEMEN_SALE
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="SemenSaleResult">
		SELECT 
		<include refid="SemenSaleModel_Column_List" />
		FROM PP_L_BILL_SEMEN_SALE WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="SemenSaleResult" >
		SELECT 
		<include refid="SemenSaleModel_Column_List" />
		FROM PP_L_BILL_SEMEN_SALE WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="SemenSaleResult" >
		SELECT 
		<include refid="SemenSaleModel_Column_List" />
		FROM PP_L_BILL_SEMEN_SALE
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="SemenSaleResult" >
		SELECT 
		<include refid="SemenSaleModel_Column_List" />
		FROM PP_L_BILL_SEMEN_SALE
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="SemenSaleResult" >
		SELECT *
		FROM PP_L_BILL_SEMEN_SALE
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="SemenSaleResult"> ${sql} </select>

	<!--撤销事件批量删除 -->
	<update id="deletesForCancel" parameterType="java.util.List" >
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
		 UPDATE  PP_L_BILL_SEMEN_SALE
		 SET
		 <if test="item.deletedBillId != null">DELETED_BILL_ID = #{item.deletedBillId,jdbcType=INTEGER},</if>
		 DELETED_FLAG  =  '2'
		 WHERE ROW_ID = #{item.rowId,jdbcType=INTEGER}	
        </foreach>	
	</update>
	
</mapper>

