<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="xn.pigfarm.mapper.production.ToworkMapper">

	<resultMap id="ToworkResult"  type="ToworkModel" >
		<result property="rowId" column="ROW_ID" jdbcType="INTEGER" />
		<result property="sortNbr" column="SORT_NBR" jdbcType="INTEGER" />
		<result property="status" column="STATUS" jdbcType="CHAR" />
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="CHAR" />
		<result property="originFlag" column="ORIGIN_FLAG" jdbcType="CHAR" />
		<result property="originApp" column="ORIGIN_APP" jdbcType="VARCHAR" />
		<result property="notes" column="NOTES" jdbcType="VARCHAR" />
		<result property="farmId" column="FARM_ID" jdbcType="INTEGER" />
		<result property="companyId" column="COMPANY_ID" jdbcType="INTEGER" />
		<result property="worker" column="WORKER" jdbcType="INTEGER" />
		<result property="createId" column="CREATE_ID" jdbcType="INTEGER" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lineNumber" column="LINE_NUMBER" jdbcType="INTEGER" />
		<result property="swineryId" column="SWINERY_ID" jdbcType="INTEGER" />
		<result property="pigId" column="PIG_ID" jdbcType="INTEGER" />
		<result property="pigType" column="PIG_TYPE" jdbcType="VARCHAR" />
		<result property="sex" column="SEX" jdbcType="VARCHAR" />
		<result property="lineId" column="LINE_ID" jdbcType="INTEGER" />
		<result property="houseId" column="HOUSE_ID" jdbcType="INTEGER" />
		<result property="pigpenId" column="PIGPEN_ID" jdbcType="INTEGER" />
		<result property="toworkDate" column="TOWORK_DATE" jdbcType="TIMESTAMP" />
		<result property="toworkDateOut" column="TOWORK_DATE_OUT" jdbcType="TIMESTAMP" />
		<result property="pigClass" column="PIG_CLASS" jdbcType="INTEGER" />
		<result property="pigClassOut" column="PIG_CLASS_OUT" jdbcType="INTEGER" />
		<result property="parity" column="PARITY" jdbcType="INTEGER" />
		<result property="billId" column="BILL_ID" jdbcType="INTEGER" />
		<result property="changePigClassId" column="CHANGE_PIG_CLASS_ID" jdbcType="INTEGER" />
		<result property="proNo" column="PRO_NO" jdbcType="INTEGER" />
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="ToworkModel_Column_List">
		ROW_ID,SORT_NBR,NOTES,WORKER,CREATE_ID,CREATE_DATE,LINE_NUMBER,SWINERY_ID,PIG_ID,PIG_TYPE,SEX,LINE_ID,HOUSE_ID,PIGPEN_ID,TOWORK_DATE,TOWORK_DATE_OUT,PIG_CLASS,PIG_CLASS_OUT,PARITY,BILL_ID,CHANGE_PIG_CLASS_ID,PRO_NO
	</sql>

	<!-- 单条新增 -->
	<insert id="insert" useGeneratedKeys="true"   keyProperty="rowId" parameterType="ToworkModel">
		INSERT INTO PP_L_BILL_TOWORK
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR,
			STATUS,
			DELETED_FLAG,
			ORIGIN_FLAG,
			ORIGIN_APP,
			NOTES,
			FARM_ID,
			COMPANY_ID,
			WORKER,
			CREATE_ID,
			CREATE_DATE,
			LINE_NUMBER,
			SWINERY_ID,
			PIG_ID,
			PIG_TYPE,
			SEX,
			LINE_ID,
			HOUSE_ID,
			PIGPEN_ID,
			TOWORK_DATE,
			TOWORK_DATE_OUT,
			PIG_CLASS,
			PIG_CLASS_OUT,
			PARITY,
			BILL_ID,
			CHANGE_PIG_CLASS_ID,
			PRO_NO
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{ sortNbr,jdbcType=INTEGER},
			#{ status,jdbcType=CHAR},
			#{ deletedFlag,jdbcType=CHAR},
			#{ originFlag,jdbcType=CHAR},
			#{ originApp,jdbcType=VARCHAR},
			#{ notes,jdbcType=VARCHAR},
			#{ farmId,jdbcType=INTEGER},
			#{ companyId,jdbcType=INTEGER},
			#{ worker,jdbcType=INTEGER},
			#{ createId,jdbcType=INTEGER},
			#{ createDate,jdbcType=TIMESTAMP},
			#{ lineNumber,jdbcType=INTEGER},
			#{ swineryId,jdbcType=INTEGER},
			#{ pigId,jdbcType=INTEGER},
			#{ pigType,jdbcType=VARCHAR},
			#{ sex,jdbcType=VARCHAR},
			#{ lineId,jdbcType=INTEGER},
			#{ houseId,jdbcType=INTEGER},
			#{ pigpenId,jdbcType=INTEGER},
			#{ toworkDate,jdbcType=TIMESTAMP},
			#{ toworkDateOut,jdbcType=TIMESTAMP},
			#{ pigClass,jdbcType=INTEGER},
			#{ pigClassOut,jdbcType=INTEGER},
			#{ parity,jdbcType=INTEGER},
			#{ billId,jdbcType=INTEGER},
			#{ changePigClassId,jdbcType=INTEGER},
			#{ proNo,jdbcType=INTEGER}
		</trim>
	</insert>
	
	<!-- 批量新增 -->
	<insert id="inserts" parameterType="java.util.List">
		INSERT INTO PP_L_BILL_TOWORK
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SORT_NBR ,
			STATUS ,
			DELETED_FLAG ,
			ORIGIN_FLAG ,
			ORIGIN_APP ,
			NOTES ,
			FARM_ID ,
			COMPANY_ID ,
			WORKER ,
			CREATE_ID ,
			CREATE_DATE ,
			LINE_NUMBER ,
			SWINERY_ID ,
			PIG_ID ,
			PIG_TYPE ,
			SEX ,
			LINE_ID ,
			HOUSE_ID ,
			PIGPEN_ID ,
			TOWORK_DATE ,
			TOWORK_DATE_OUT ,
			PIG_CLASS ,
			PIG_CLASS_OUT ,
			PARITY ,
			BILL_ID ,
			CHANGE_PIG_CLASS_ID ,
			PRO_NO 
		</trim>
		VALUES
		<foreach collection="records" item="item" index="index"  separator="," >	
			<trim prefix="(" suffix=")" suffixOverrides=",">		
				#{item.sortNbr,jdbcType=INTEGER},
				#{item.status,jdbcType=CHAR},
				#{item.deletedFlag,jdbcType=CHAR},
				#{item.originFlag,jdbcType=CHAR},
				#{item.originApp,jdbcType=VARCHAR},
				#{item.notes,jdbcType=VARCHAR},
				#{item.farmId,jdbcType=INTEGER},
				#{item.companyId,jdbcType=INTEGER},
				#{item.worker,jdbcType=INTEGER},
				#{item.createId,jdbcType=INTEGER},
				#{item.createDate,jdbcType=TIMESTAMP},
				#{item.lineNumber,jdbcType=INTEGER},
				#{item.swineryId,jdbcType=INTEGER},
				#{item.pigId,jdbcType=INTEGER},
				#{item.pigType,jdbcType=VARCHAR},
				#{item.sex,jdbcType=VARCHAR},
				#{item.lineId,jdbcType=INTEGER},
				#{item.houseId,jdbcType=INTEGER},
				#{item.pigpenId,jdbcType=INTEGER},
				#{item.toworkDate,jdbcType=TIMESTAMP},
				#{item.toworkDateOut,jdbcType=TIMESTAMP},
				#{item.pigClass,jdbcType=INTEGER},
				#{item.pigClassOut,jdbcType=INTEGER},
				#{item.parity,jdbcType=INTEGER},
				#{item.billId,jdbcType=INTEGER},
				#{item.changePigClassId,jdbcType=INTEGER},
				#{item.proNo,jdbcType=INTEGER}
			</trim>
		</foreach>			
	</insert>
	
	<!--单条更新 -->
	<update id="update" parameterType="ToworkModel" >
		UPDATE PP_L_BILL_TOWORK 
		<set>
		<if test="sortNbr != null">SORT_NBR = #{ sortNbr,jdbcType=INTEGER},</if>
		<if test="status != null">STATUS = #{ status,jdbcType=CHAR},</if>
		<if test="originFlag != null">ORIGIN_FLAG = #{ originFlag,jdbcType=CHAR},</if>
		<if test="originApp != null">ORIGIN_APP = #{ originApp,jdbcType=VARCHAR},</if>
		<if test="notes != null">NOTES = #{ notes,jdbcType=VARCHAR},</if>
		<if test="worker != null">WORKER = #{ worker,jdbcType=INTEGER},</if>
		<if test="createId != null">CREATE_ID = #{ createId,jdbcType=INTEGER},</if>
		<if test="createDate != null">CREATE_DATE = #{ createDate,jdbcType=TIMESTAMP},</if>
		<if test="lineNumber != null">LINE_NUMBER = #{ lineNumber,jdbcType=INTEGER},</if>
		<if test="swineryId != null">SWINERY_ID = #{ swineryId,jdbcType=INTEGER},</if>
		<if test="pigId != null">PIG_ID = #{ pigId,jdbcType=INTEGER},</if>
		<if test="pigType != null">PIG_TYPE = #{ pigType,jdbcType=VARCHAR},</if>
		<if test="sex != null">SEX = #{ sex,jdbcType=VARCHAR},</if>
		<if test="lineId != null">LINE_ID = #{ lineId,jdbcType=INTEGER},</if>
		<if test="houseId != null">HOUSE_ID = #{ houseId,jdbcType=INTEGER},</if>
		<if test="pigpenId != null">PIGPEN_ID = #{ pigpenId,jdbcType=INTEGER},</if>
		<if test="toworkDate != null">TOWORK_DATE = #{ toworkDate,jdbcType=TIMESTAMP},</if>
		<if test="toworkDateOut != null">TOWORK_DATE_OUT = #{ toworkDateOut,jdbcType=TIMESTAMP},</if>
		<if test="pigClass != null">PIG_CLASS = #{ pigClass,jdbcType=INTEGER},</if>
		<if test="pigClassOut != null">PIG_CLASS_OUT = #{ pigClassOut,jdbcType=INTEGER},</if>
		<if test="parity != null">PARITY = #{ parity,jdbcType=INTEGER},</if>
		<if test="billId != null">BILL_ID = #{ billId,jdbcType=INTEGER},</if>
		<if test="changePigClassId != null">CHANGE_PIG_CLASS_ID = #{ changePigClassId,jdbcType=INTEGER},</if>
		<if test="proNo != null">PRO_NO = #{ proNo,jdbcType=INTEGER}</if>
		</set>
		WHERE
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量更新 -->
	<update id="updates" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_TOWORK 
			<set>
			<if test="item.sortNbr != null">SORT_NBR = #{item.sortNbr,jdbcType=INTEGER},</if>
			<if test="item.status != null">STATUS = #{item.status,jdbcType=CHAR},</if>
			<if test="item.originFlag != null">ORIGIN_FLAG = #{item.originFlag,jdbcType=CHAR},</if>
			<if test="item.originApp != null">ORIGIN_APP = #{item.originApp,jdbcType=VARCHAR},</if>
			<if test="item.notes != null">NOTES = #{item.notes,jdbcType=VARCHAR},</if>
			<if test="item.worker != null">WORKER = #{item.worker,jdbcType=INTEGER},</if>
			<if test="item.createId != null">CREATE_ID = #{item.createId,jdbcType=INTEGER},</if>
			<if test="item.createDate != null">CREATE_DATE = #{item.createDate,jdbcType=TIMESTAMP},</if>
			<if test="item.lineNumber != null">LINE_NUMBER = #{item.lineNumber,jdbcType=INTEGER},</if>
			<if test="item.swineryId != null">SWINERY_ID = #{item.swineryId,jdbcType=INTEGER},</if>
			<if test="item.pigId != null">PIG_ID = #{item.pigId,jdbcType=INTEGER},</if>
			<if test="item.pigType != null">PIG_TYPE = #{item.pigType,jdbcType=VARCHAR},</if>
			<if test="item.sex != null">SEX = #{item.sex,jdbcType=VARCHAR},</if>
			<if test="item.lineId != null">LINE_ID = #{item.lineId,jdbcType=INTEGER},</if>
			<if test="item.houseId != null">HOUSE_ID = #{item.houseId,jdbcType=INTEGER},</if>
			<if test="item.pigpenId != null">PIGPEN_ID = #{item.pigpenId,jdbcType=INTEGER},</if>
			<if test="item.toworkDate != null">TOWORK_DATE = #{item.toworkDate,jdbcType=TIMESTAMP},</if>
			<if test="item.toworkDateOut != null">TOWORK_DATE_OUT = #{item.toworkDateOut,jdbcType=TIMESTAMP},</if>
			<if test="item.pigClass != null">PIG_CLASS = #{item.pigClass,jdbcType=INTEGER},</if>
			<if test="item.pigClassOut != null">PIG_CLASS_OUT = #{item.pigClassOut,jdbcType=INTEGER},</if>
			<if test="item.parity != null">PARITY = #{item.parity,jdbcType=INTEGER},</if>
			<if test="item.billId != null">BILL_ID = #{item.billId,jdbcType=INTEGER},</if>
			<if test="item.changePigClassId != null">CHANGE_PIG_CLASS_ID = #{item.changePigClassId,jdbcType=INTEGER},</if>
			<if test="item.proNo != null">PRO_NO = #{item.proNo,jdbcType=INTEGER}</if>
			</set>
			WHERE
			ROW_ID = #{item.rowId,jdbcType=INTEGER}	
		</foreach>
	</update>
	
	<!--单条删除 -->
	<update id="delete" >
		UPDATE  PP_L_BILL_TOWORK
		SET
		DELETED_FLAG =  '1'
		WHERE 
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</update>
	
	<!--批量删除 -->
	<update id="deletes" >
		<foreach item="item" index="index" collection="ids" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_TOWORK
		 SET
		 DELETED_FLAG  =  '1'  WHERE 
		 ROW_ID =#{item}
        </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_TOWORK
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' 
		 AND FARM_ID=#{ farmId,jdbcType=INTEGER}
		 AND ${item.RECORD_CON} = #{item.RECORD_VALUES}
		 </foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCons" parameterType="java.util.List" >
		<foreach item="item" index="index" collection="records" open=""  close="" separator=";">
		 UPDATE  PP_L_BILL_TOWORK
		 SET
		 DELETED_FLAG  =  '1'  WHERE DELETED_FLAG  =  '0' ${item}
		</foreach>	
	</update>
	
	<!--根据条件批量删除 -->
	<update id="deletesByCon2" parameterType="java.util.Map" >
	<![CDATA[ 
		 UPDATE  PP_L_BILL_TOWORK
		 SET
		 DELETED_FLAG = '2' WHERE DELETED_FLAG <> '2' ${condition}
	]]>
	</update>
	
	<!--查询List记录 -->
	<select id="searchToList" resultMap="ToworkResult">
		SELECT 
		<include refid="ToworkModel_Column_List" />
		FROM PP_L_BILL_TOWORK WHERE DELETED_FLAG='0' 
		AND FARM_ID=#{ farmId,jdbcType=INTEGER}
	</select>
	
	<!--查询根据主键查单条记录 -->
	<select id="searchById" resultMap="ToworkResult" >
		SELECT 
		<include refid="ToworkModel_Column_List" />
		FROM PP_L_BILL_TOWORK WHERE DELETED_FLAG='0'  AND
		ROW_ID = #{ rowId,jdbcType=INTEGER}
	</select>
	
	<!--根据条件查询有效数据 --><!-- {condition} -->
	<select id="searchListByCon" resultMap="ToworkResult" >
		SELECT 
		<include refid="ToworkModel_Column_List" />
		FROM PP_L_BILL_TOWORK
		WHERE DELETED_FLAG='0'  ${condition} 
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAllListByCon" resultMap="ToworkResult" >
		SELECT 
		<include refid="ToworkModel_Column_List" />
		FROM PP_L_BILL_TOWORK
		WHERE ${condition}
	</select>
	
	<!--根据条件查询全部数据 --><!-- {condition} -->
	<select id="searchAll" resultMap="ToworkResult" >
		SELECT *
		FROM PP_L_BILL_TOWORK
		WHERE ${condition}
	</select>
	
	<!-- 直接sql操作 -->
	<select id="operSql" resultMap="ToworkResult"> ${sql} </select>

	<!--批量更新上一条记录的TOWORK_DATE_OUT和PIG_CLASS_OUT为NULL -->
	<update id="updatesToworkDateOutAndPigClassOutToNULL" parameterType="java.util.List">
		<foreach collection="records" item="item" index="index" open="" close="" separator=";">	
			UPDATE PP_L_BILL_TOWORK A
			SET A.TOWORK_DATE_OUT = NULL, A.PIG_CLASS_OUT = NULL
			WHERE
			A.DELETED_FLAG = '0'
			AND A.PIG_ID = #{item.pigId,jdbcType=INTEGER}
			AND EXISTS ( SELECT 1 FROM (
			SELECT CHANGE_PIG_CLASS_ID AS rowId FROM PP_L_BILL_TOWORK
			WHERE
			DELETED_FLAG = '2'
			AND PIG_ID = #{item.pigId,jdbcType=INTEGER}
			AND BILL_ID = #{item.billId,jdbcType=INTEGER}
			)B
			WHERE A.ROW_ID = B.rowId
			)
		</foreach>
	</update>
	
</mapper>

